// April fools, suckers!
$red   : #FF1E00;
$black : #15151E;

%ribbon {
  border-bottom : 5px $red solid;
  border-right  : 5px $red solid;
}

body,
.linklisting .thing,
.linklisting .thing.even,
body .entry.res-selected,
body .entry.res-selected .md-container,
#header,
.side,
.side .spacer,
.titlebox .md > ul:nth-of-type(3) > li,
.panestack-title {
  background : $black !important;
}

.titlebox form.toggle,
.leavemoderator,
.titlebox .tagline {
  background : none;
}

.titlebox .tagline {
  border-color : $red;
}

form.toggle.flairtoggle {
  border-color : $red;
}

.side {
  border-color : $red;

  .spacer {
    color : white;

    > div {
      border : none;
    }
  }
  
  .usertext-body:before {
    background-color : $black;
    border-color     : $black;
  }
}

.titlebox .md {
  border-color: $red;

  > h1 {
    color        : $red;
    border-color : $red;
    background   : none;
  }

  > p {
    border-color : transparent;
    color        : white;
  }
}

.titlebox .md > blockquote:last-of-type {
  background   : $black;
  color        : white;
  border-color : transparent;
}

.titlebox .md > blockquote:last-of-type > table tr td:nth-of-type(1) {
  background   : none;
  border-color : $red;
}

.titlebox .md > blockquote:last-of-type > table tr td:nth-of-type(2) {
  border-color : $red;
}

.titlebox .md > blockquote:last-of-type > table em {
  border-color : red;
  background   : none;
  color        : red;
}

.sidecontentbox .title h1 {
  color: $red;
}

.sidecontentbox .content {
  border-color : $red;
  background   : none;
}

.icon-menu a {
  background-color : transparent;
}

#header {
  border-bottom : 1px solid $red;
  box-shadow    : none;
}

#header-bottom-left .tabmenu li a {
  color : white;
}

#header-bottom-left {
  background-color : $black;
}

body > .content a.author:after {
  content     : ' - Post times provided by Rolex';
  font-weight : 800;
  color       : $red;
}

.linklisting .thing {
  @extend %ribbon;
  border-radius : 0 0 15px 0;
  margin        : 15px 0;
  box-shadow    : none;

  &.stickied {
    @extend %ribbon;
    border-color: #282;
  }

  a.title {
    color : $red;
    
    &:before {
     font-weight    : 800;
     text-transform : uppercase;
    }

    &:visited {
      color: darken($red, 15%);
    }
  }

  &:nth-child(3n) {
    @extend %ribbon;

    a.title:before {
      content : 'Heineken Hot Post - ';
    }
  }

  &:nth-child(4n) {
    @extend %ribbon;

    a.title:before {
      content : 'Emirates Flying Post - ';
    }
  }

  &:nth-child(5n) {
    @extend %ribbon;

    a.title:before {
      content: 'DHL Super Slow Mo DRS Deployment of the Day - '
    }
  }

  &:nth-child(7n) {
    @extend %ribbon;
    
    a.title:before {
      content : 'Pirelli Perfect Post - ';
    }
  }
}

.link .score.likes {
  color : $red;
}

.arrow {
  &.upmod,
  &.up {
    background          : url(%%flags%%);
    background-position : 0 -565px;
    width               : 20px;
  }

  &.downmod,
  &.down {
    background          : url(%%flairs%%);
    background-position : 0px -48px;
    width               : 20px;
  }

  &.up,
  &.down {
    opacity : 0.5;
  }
}

.link .usertext .md,
.listing-page .expando .md {
  background-color: $black !important;
}

.md {
  color : white;
}

.comments-page .sitetable {
  background : none;
}

.panestack-title {
  border-color : $red;
  color        : white;
}

.commentarea .menuarea,
.commentarea > .usertext {
  background : none;
}

.linkinfo {
  background-color : $black;
}

.linkinfo .date,
.linkinfo .score {
  border-color : $red;
  background   : none;
}

.commentarea .thing {
  background-color : $black;
}

.commentarea .child .thing {
  background : $black;
}

.md code,
.md pre {
  color        : $red;
  border-color : $red;
  background   : $black;
}

body .commentarea .sitetable {
  .comment .comment, 
  .comment .comment .comment .comment,
  .comment .comment .comment .comment .comment .comment,
  .comment .comment .comment .comment .comment .comment .comment .comment,
  .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
    background: none !important;
  }
}

div.content {
  background : $black;
  color      : white;
}

.formtabs-content {
  border-color : $red;
}

.infobar {
  border-color : $red;
  background   : none;
}

.roundfield,
.content.submit .info-notice {
  background   : none;
  border-color : $red;
}

.formtabs-content .md > ul:nth-of-type(1) {
  background : none;
}

.titlebox .md > ul:nth-of-type(1) li:nth-of-type(2) a {
  background   : $black !important; 
  color        : $red;
  border       : 1px solid $red;
  margin-right : 5px;
}

.titlebox .md > ul:nth-of-type(1) > li:nth-of-type(1) {
  background   : $black;
  border       : 1px solid $red;
  margin-right : 5px;
}

.titlebox .md>blockquote:nth-of-type(1)>h1, .titlebox .md>blockquote:nth-of-type(2)>h1 {
  background-color : $black;
}

.commentarea textarea {
  background : url(%%dangerzone%%) no-repeat white;
  transition : background-position 0.3s ease;
}

.commentarea textarea:focus {
  background-position : 0 -100px;
}

.md a[href="/countDownEnd"]:after {
  content     : 'COUNTDOWN SPONSORED BY ROLEX';
  display     : block;
  color       : $red;
  font-size   : 24px;
  line-height : 24px;
  font-weight : 800;
  margin-top  : 5px;
}

.submit-link .morelink a:after {
  content: ' via DHL';
}

.linkflair .md table tr {
  background: none !important;
}

.pagename {
  background-image: url(%%sprite2%%);
  height: 32px;

  a {
    height: 32px;
  }
}

.new-comment .usertext-body {
  background   : none;
  border-color : darken($red, 25%);
}

.listing-page .thing:hover .expando .md {
  background: none;
}

.usertext.border .usertext-body {
  background : darken($red, 25%);
}
