// Small flags
a[href="#ae"],
a[href="/ae"],
a[href="#ar"],
a[href="/ar"],
a[href="#at"],
a[href="/at"],
a[href="#au"],
a[href="/au"],
a[href="#az"],
a[href="/az"],
a[href="#be"],
a[href="/be"],
a[href="#bh"],
a[href="/bh"],
a[href="#br"],
a[href="/br"],
a[href="#ca"],
a[href="/ca"],
a[href="#ch"],
a[href="/ch"],
a[href="#cn"],
a[href="/cn"],
a[href="#de"],
a[href="/de"],
a[href="#dk"],
a[href="/dk"],
a[href="#es"],
a[href="/es"],
a[href="#fi"],
a[href="/fi"],
a[href="#fr"],
a[href="/fr"],
a[href="#gb"],
a[href="/gb"],
a[href="#hu"],
a[href="/hu"],
a[href="#id"],
a[href="/id"],
a[href="#in"],
a[href="/in"],
a[href="#it"],
a[href="/it"],
a[href="#jp"],
a[href="/jp"],
a[href="#mc"],
a[href="/mc"],
a[href="#mx"],
a[href="/mx"],
a[href="#my"],
a[href="/my"],
a[href="#nl"],
a[href="/nl"],
a[href="#no"],
a[href="/no"],
a[href="#pl"],
a[href="/pl"],
a[href="#ru"],
a[href="/ru"],
a[href="#sct"],
a[href="/sct"],
a[href="#sg"],
a[href="/sg"],
a[href="#th"],
a[href="/th"],
a[href="#vn"],
a[href="/vn"],
a[href="#us"],
a[href="/us"] {
  background-color  : transparent;
  background-image  : url(%%flags%%);
  background-repeat : no-repeat;
  display           : inline-block;
  height            : 11px;
  margin-right      : 2px;
  padding           : 0;
  position          : relative;
  text-indent       : -99999pt;
  top               : 1px;
  width             : 16px;
}

a[href="#au"],
a[href="/au"] {
  background-position : -32px -33px;
}

a[href="#br"],
a[href="/br"] {
  background-position : -172px -61px;
}

a[href="#de"],
a[href="/de"] {
  background-position : -284px -117px;
}

a[href="#be"],
a[href="/be"] {
  background-position : -228px -33px;
}

a[href="#dk"],
a[href="/dk"] {
  background-position : -32px -145px;
}

a[href="#es"],
a[href="/es"] {
  background-position : -4px -173px;
}

a[href="#jp"],
a[href="/jp"] {
  background-position : -256px -257px;
}

a[href="#gb"],
a[href="/gb"] {
  background-position : -284px -173px;
}

a[href="#fi"],
a[href="/fi"] {
  background-position : -88px -173px;
}

a[href="#fr"],
a[href="/fr"] {
  background-position : -228px -173px;
}

a[href="#mx"],
a[href="/mx"] {
  background-position : -172px -369px;
}

a[href="#nl"],
a[href="/nl"] {
  background-position : -116px -397px;
}

a[href="#ru"],
a[href="/ru"] {
  background-position : -144px -453px;
}

a[href="#it"],
a[href="/it"] {
  background-position : -172px -257px;
}

a[href="#at"],
a[href="/at"] {
  background-position : -4px -33px;
}

a[href="#ch"],
a[href="/xh"] {
  background-position : -198px -89px;
}

a[href="#in"],
a[href="/in"] {
  background-position : -32px -257px;
}

a[href="#ca"],
a[href="/ca"] {
  background-position : -60px -89px;
}

a[href="#us"],
a[href="/us"] {
  background-position : -4px -565px;
}

a[href="#my"],
a[href="/my"] {
  background-position : -200px -369px;
}

a[href="#cn"],
a[href="/cn"] {
  background-position : -32px -117px;
}

a[href="#bh"],
a[href="/bh"] {
  background-position : -4px -61px;
}

a[href="#id"],
a[href="/id"],
a[href="#mc"],
a[href="/mc"] {
  background-position : -256px -229px;
}

a[href="#hu"],
a[href="/hu"] {
  background-position : -228px -229px;
}

a[href="/sg"],
a[href="#sg"] {
  background-position : -60px -481px;
}

a[href="#ae"],
a[href="/ae"] {
  background-position: -32px -5px;
}

a[href="#ar"],
a[href="/ar"] {
  background-position: -257px -5px;
}

a[href="#az"],
a[href="/az"] {
  background-position : -116px -33px;
}

a[href="#sct"],
a[href="/sct"],
a[href="#no"],
a[href="/no"] {
  background-position : -144px -397px;
}

a[href="#th"],
a[href="/th"] {
  background-position : -228px -509px;
}

a[href="#pl"],
a[href="/pl"] {
  background-position : -172px -425px;
}

a[href="#vn"],
a[href="/vn"] {
  background-position : -256px -565px;
}

// Big flags
.linkflair-feature a.thumbnail[href*=abu_dhabi],
.linkflair-feature a.thumbnail[href*=albert_park],
.linkflair-feature a.thumbnail[href*=australian],
.linkflair-feature a.thumbnail[href*=austrian],
.linkflair-feature a.thumbnail[href*=azerbaijan],
.linkflair-feature a.thumbnail[href*=bahrain],
.linkflair-feature a.thumbnail[href*=belgian],
.linkflair-feature a.thumbnail[href*=brazilian],
.linkflair-feature a.thumbnail[href*=british],
.linkflair-feature a.thumbnail[href*=canada],
.linkflair-feature a.thumbnail[href*=canadian],
.linkflair-feature a.thumbnail[href*=chinese],
.linkflair-feature a.thumbnail[href*=circuit_gilles],
.linkflair-feature a.thumbnail[href*=german],
.linkflair-feature a.thumbnail[href*=hungarian],
.linkflair-feature a.thumbnail[href*=italian],
.linkflair-feature a.thumbnail[href*=japanese],
.linkflair-feature a.thumbnail[href*=malaysian],
.linkflair-feature a.thumbnail[href*=mexican],
.linkflair-feature a.thumbnail[href*=monaco],
.linkflair-feature a.thumbnail[href*=montreal_gp],
.linkflair-feature a.thumbnail[href*=russian],
.linkflair-feature a.thumbnail[href*=sepang],
.linkflair-feature a.thumbnail[href*=sepang],
.linkflair-feature a.thumbnail[href*=malaysia],
.linkflair-feature a.thumbnail[href*=shanghai],
.linkflair-feature a.thumbnail[href*=singapore],
.linkflair-feature a.thumbnail[href*=sochi],
.linkflair-feature a.thumbnail[href*=spanish],
.linkflair-feature a.thumbnail[href*=united_states],
.linkflair-feature a.thumbnail[href*=vietnamese],
.linkflair-feature a.thumbnail[href*=dutch],
.linkflair-hub a.thumbnail,
.linkflair-meetup a.thumbnail,
.linkflair-post-qualifying a.thumbnail,
.linkflair-post-race a.thumbnail,
.linkflair-practice a.thumbnail,
.linkflair-qualifying a.thumbnail,
.linkflair-race a.thumbnail {
  background-image : url(%%flag-med-sprite%%);
  background-size  : inherit;
  border-radius    : 2px;
  height           : 60px;
  width            : 60px;
}

.linklisting .linkflair .thumbnail[href*=albert_park],
.linklisting .linkflair .thumbnail[href*=australian] {
  background-position : 0 0;
}

.linklisting .linkflair .thumbnail[href*=malaysia],
.linklisting .linkflair .thumbnail[href*=sepang] {
  background-position : -60px 0;
}

.linklisting .linkflair .thumbnail[href*=bahrain] {
  background-position : -120px 0;
}

.linklisting .linkflair .thumbnail[href*=chinese],
.linklisting .linkflair .thumbnail[href*=shanghai] {
  background-position : -180px 0;
}

.linklisting .linkflair .thumbnail[href*=spanish] {
  background-position : -240px 0;
}

.linklisting .linkflair .thumbnail[href*=monaco] {
  background-position : 0 -60px;
}

.linklisting .linkflair .thumbnail[href*=canada],
.linklisting .linkflair .thumbnail[href*=canadian] {
  background-position : -60px -60px;
}

.linklisting .linkflair .thumbnail[href*=austrian] {
  background-position : -120px -60px;
}

.linklisting .linkflair .thumbnail[href*=british] {
  background-position : -180px -60px;
}

.linklisting .linkflair .thumbnail[href*=german] {
  background-position : -240px -60px;
}

.linklisting .linkflair .thumbnail[href*=hungarian] {
  background-position : 0 -120px;
}

.linklisting .linkflair .thumbnail[href*=belgian] {
  background-position : -60px -120px;
}

.linklisting .linkflair .thumbnail[href*=italian] {
  background-position : -120px -120px;
}

.linklisting .linkflair .thumbnail[href*=singapore] {
  background-position : -180px -120px;
}

.linklisting .linkflair .thumbnail[href*=japanese] {
  background-position : -240px -120px;
}

.linklisting .linkflair .thumbnail[href*=mexican] {
  background-position : 0 -240px;
}

.linklisting .linkflair .thumbnail[href*=russian],
.linklisting .linkflair .thumbnail[href*=sochi] {
  background-position : 0 -180px;
}

.linklisting .linkflair .thumbnail[href*=united_states] {
  background-position : -60px -180px;
}

.linklisting .linkflair .thumbnail[href*=brazilian] {
  background-position : -120px -180px;
}

.linklisting .linkflair .thumbnail[href*=abu_dhabi] {
  background-position : -180px -180px;
}

.linklisting .linkflair .thumbnail[href*=azerbaijan] {
  background-position : -240px -180px;
}

.linklisting .linkflair .thumbnail[href*=dutch] {
  background-position : -60px -240px;
}

.linklisting .linkflair .thumbnail[href*=vietnamese] {
  background-position : -120px -240px;
}
