a[href="#ae"],
a[href="/ae"],
a[href="#ar"],
a[href="/ar"],
a[href="#at"],
a[href="/at"],
a[href="#au"],
a[href="/au"],
a[href="#az"],
a[href="/az"],
a[href="#be"],
a[href="/be"],
a[href="#bh"],
a[href="/bh"],
a[href="#br"],
a[href="/br"],
a[href="#ca"],
a[href="/ca"],
a[href="#ch"],
a[href="/ch"],
a[href="#cn"],
a[href="/cn"],
a[href="#de"],
a[href="/de"],
a[href="#dk"],
a[href="/dk"],
a[href="#es"],
a[href="/es"],
a[href="#fi"],
a[href="/fi"],
a[href="#fr"],
a[href="/fr"],
a[href="#gb"],
a[href="/gb"],
a[href="#hu"],
a[href="/hu"],
a[href="#id"],
a[href="/id"],
a[href="#in"],
a[href="/in"],
a[href="#it"],
a[href="/it"],
a[href="#jp"],
a[href="/jp"],
a[href="#mc"],
a[href="/mc"],
a[href="#mx"],
a[href="/mx"],
a[href="#my"],
a[href="/my"],
a[href="#nl"],
a[href="/nl"],
a[href="#no"],
a[href="/no"],
a[href="#pl"],
a[href="/pl"],
a[href="#ru"],
a[href="/ru"],
a[href="#sct"],
a[href="/sct"],
a[href="#sg"],
a[href="/sg"],
a[href="#th"],
a[href="/th"],
a[href="#us"],
a[href="/us"] {
  background-color  : transparent;
  background-image  : url(%%flags%%);
  background-repeat : no-repeat;
  display           : inline-block;
  height            : 11px;
  margin-right      : 2px;
  padding           : 0;
  position          : relative;
  text-indent       : -99999pt;
  top               : 1px;
  width             : 16px;
}

a[href="#au"],
a[href="/au"] {
  background-position : -32px -33px;
}

a[href="#br"],
a[href="/br"] {
  background-position : -172px -61px;
}

a[href="#de"],
a[href="/de"] {
  background-position : -284px -117px;
}

a[href="#be"],
a[href="/be"] {
  background-position : -228px -33px;
}

a[href="#dk"],
a[href="/dk"] {
  background-position : -32px -145px;
}

a[href="#es"],
a[href="/es"] {
  background-position : -4px -173px;
}

a[href="#jp"],
a[href="/jp"] {
  background-position : -256px -257px;
}

a[href="#gb"],
a[href="/gb"] {
  background-position : -284px -173px;
}

a[href="#fi"],
a[href="/fi"] {
  background-position : -88px -173px;
}

a[href="#fr"],
a[href="/fr"] {
  background-position : -228px -173px;
}

a[href="#mx"],
a[href="/mx"] {
  background-position : -172px -369px;
}

a[href="#nl"],
a[href="/nl"] {
  background-position : -116px -397px;
}

a[href="#ru"],
a[href="/ru"] {
  background-position : -144px -453px;
}

a[href="#it"],
a[href="/it"] {
  background-position : -172px -257px;
}

a[href="#at"],
a[href="/at"] {
  background-position : -4px -33px;
}

a[href="#ch"],
a[href="/xh"] {
  background-position : -198px -89px;
}

a[href="#in"],
a[href="/in"] {
  background-position : -32px -257px;
}

a[href="#ca"],
a[href="/ca"] {
  background-position : -60px -89px;
}

a[href="#us"],
a[href="/us"] {
  background-position : -4px -565px;
}

a[href="#my"],
a[href="/my"] {
  background-position : -200px -369px;
}

a[href="#cn"],
a[href="/cn"] {
  background-position : -32px -117px;
}

a[href="#bh"],
a[href="/bh"] {
  background-position : -4px -61px;
}

a[href="#id"],
a[href="/id"],
a[href="#mc"],
a[href="/mc"] {
  background-position : -256px -229px;
}

a[href="#hu"],
a[href="/hu"] {
  background-position : -228px -229px;
}

a[href="/sg"],
a[href="#sg"] {
  background-position : -60px -481px;
}

a[href="#ae"],
a[href="/ae"] {
  background-position: -32px -5px;
}

a[href="#ar"],
a[href="/ar"] {
  background-position: -257px -5px;
}

a[href="#az"],
a[href="/az"] {
  background-position : -116px -33px;
}

a[href="#sct"],
a[href="/sct"],
a[href="#no"],
a[href="/no"] {
  background-position : -144px -397px;
}

a[href="#th"],
a[href="/th"] {
  background-position : -228px -509px;
}

a[href="#pl"],
a[href="/pl"] {
  background-position : -172px -425px;
}

a[href="#vn"],
a[href="/vn"] {
  background-position : -256px -565px;
}
