.flair:before {
  background-image    : url(%%flairs%%);
  background-repeat   : no-repeat;
  content             : "";
  display             : inline-block;
  height              : 16px;
  margin-right        : 4px;
  vertical-align      : middle;
  width               : 22px;
  @extend .flair-aaa-default:before;
}

.flair-aaa-default:before {
  background-position: -22px 0px;
}
.flair-alain-prost:before {
  background-position: -66px -128px;
}
.flair-alan-jones:before {
  background-position: 0px -16px;
}
.flair-alberto-ascari:before {
  background-position: -22px -16px;
}
.flair-alfa-romeo:before {
  background-position: -44px 0px;
}
.flair-antonio-giovinazzi:before {
  background-position: -44px -16px;
}
.flair-ayrton-senna:before {
  background-position: 0px -32px;
}
.flair-bar-honda:before {
  background-position: -22px -32px;
}
.flair-benetton:before {
  background-position: -44px -32px;
}
.flair-bmw-sauber:before {
  background-position: 0px -48px;
}
.flair-brabham:before {
  background-position: -22px -48px;
}
.flair-brawn-gp:before {
  background-position: -44px -48px;
}
.flair-brendon-hartley:before {
  background-position: -66px 0px;
}
.flair-brm:before {
  background-position: -66px -16px;
}
.flair-carlos-sainz-jr:before {
  background-position: -66px -32px;
}
.flair-carmen-jorda:before {
  background-position: -66px -48px;
}
.flair-caterham:before {
  background-position: 0px -64px;
}
.flair-charles-leclerc:before {
  background-position: -22px -64px;
}
.flair-chase-carey:before {
  background-position: -44px -64px;
}
.flair-cooper:before {
  background-position: -66px -64px;
}
.flair-damon-hill:before {
  background-position: -88px 0px;
}
.flair-daniel-ricciardo:before {
  background-position: -88px -16px;
}
.flair-david-coulthard:before {
  background-position: -88px -32px;
}
.flair-de-tomaso:before {
  background-position: -88px -48px;
}
.flair-denny-hulme:before {
  background-position: -88px -64px;
}
.flair-emerson-fittipaldi:before {
  background-position: 0px -80px;
}
.flair-esteban-ocon:before {
  background-position: -22px -80px;
}
.flair-eurobrun:before {
  background-position: -44px -80px;
}
.flair-f1-classic-logo:before {
  background-position: -66px -80px;
}
.flair-f1-logo:before {
  background-position: -88px -80px;
}
.flair-felipe-massa:before {
  background-position: -110px 0px;
}
.flair-fernando-alonso:before {
  background-position: -110px -16px;
}
.flair-ferrari:before {
  background-position: -110px -32px;
}
.flair-force-india:before {
  background-position: -110px -48px;
}
.flair-gilles-villeneuve:before {
  background-position: -110px -64px;
}
.flair-giuseppe-farina:before {
  background-position: -110px -80px;
}
.flair-graham-hill:before {
  background-position: 0px -96px;
}
.flair-haas:before {
  background-position: -22px -96px;
}
.flair-hall-of-fame:before {
  background-position: -44px -96px;
}
.flair-heikki-kovaleinen:before {
  background-position: -66px -96px;
}
.flair-honda:before {
  background-position: -88px -96px;
}
.flair-jack-aitken:before {
  background-position: -110px -96px;
}
.flair-jack-brabham:before {
  background-position: 0px -112px;
}
.flair-jackie-stewart:before {
  background-position: -22px -112px;
}
.flair-jacques-villeneuve:before {
  background-position: -44px -112px;
}
.flair-jaguar:before {
  background-position: -66px -112px;
}
.flair-james-hunt:before {
  background-position: -88px -112px;
}
.flair-jean-alesi:before {
  background-position: -110px -112px;
}
.flair-jean-pierre-jabouille:before {
  background-position: -132px 0px;
}
.flair-jenson-button:before {
  background-position: -132px -16px;
}
.flair-jim-clark:before {
  background-position: -132px -32px;
}
.flair-jochen-rindt:before {
  background-position: -132px -48px;
}
.flair-jody-scheckter:before {
  background-position: -132px -64px;
}
.flair-john-surtees:before {
  background-position: -132px -80px;
}
.flair-jordan:before {
  background-position: -132px -96px;
}
.flair-juan-manuel-fangio:before {
  background-position: -132px -112px;
}
.flair-jules-bianchi:before {
  background-position: 0px -128px;
}
.flair-kamui-kobayashi:before {
  background-position: -22px -128px;
}
.flair-keke-rosberg:before {
  background-position: -44px -128px;
}
.flair-kevin-magnussen:before {
  background-position: 0px 0px;
}
.flair-kimi-raikkonen:before {
  background-position: -88px -128px;
}
.flair-lance-stroll:before {
  background-position: -110px -128px;
}
.flair-lando-norris:before {
  background-position: -132px -128px;
}
.flair-lella-lombardi:before {
  background-position: -154px 0px;
}
.flair-lewis-hamilton:before {
  background-position: -154px -16px;
}
.flair-lotus:before {
  background-position: -154px -32px;
}
.flair-manor:before {
  background-position: -154px -48px;
}
.flair-marcus-ericsson:before {
  background-position: -154px -64px;
}
.flair-mario-andretti:before {
  background-position: -154px -80px;
}
.flair-mark-webber:before {
  background-position: -154px -96px;
}
.flair-martin-brundle:before {
  background-position: -154px -112px;
}
.flair-maserati:before {
  background-position: -154px -128px;
}
.flair-matra:before {
  background-position: 0px -144px;
}
.flair-max-verstappen:before {
  background-position: -22px -144px;
}
.flair-mclaren:before {
  background-position: -44px -144px;
}
.flair-mercedes:before {
  background-position: -66px -144px;
}
.flair-michael-schumacher:before {
  background-position: -88px -144px;
}
.flair-mika-hakkinen:before {
  background-position: -110px -144px;
}
.flair-mike-hawthorn:before {
  background-position: -132px -144px;
}
.flair-minardi:before {
  background-position: -154px -144px;
}
.flair-nelson-piquet:before {
  background-position: 0px -160px;
}
.flair-nicholas-latifi:before {
  background-position: -22px -160px;
}
.flair-nico-hulkenberg:before {
  background-position: -44px -160px;
}
.flair-nico-rosberg:before {
  background-position: -66px -160px;
}
.flair-nigell-mansell:before {
  background-position: -88px -160px;
}
.flair-niki-lauda:before {
  background-position: -110px -160px;
}
.flair-pastor-maldonado:before {
  background-position: -132px -160px;
}
.flair-phil-hill:before {
  background-position: -154px -160px;
}
.flair-pierre-gasly:before {
  background-position: -176px 0px;
}
.flair-pirelli-hard:before {
  background-position: -176px -16px;
}
.flair-pirelli-hypersoft:before {
  background-position: -176px -32px;
}
.flair-pirelli-intermediate:before {
  background-position: -176px -48px;
}
.flair-pirelli-medium:before {
  background-position: -176px -64px;
}
.flair-pirelli-soft:before {
  background-position: -176px -80px;
}
.flair-pirelli-superhard:before {
  background-position: -176px -96px;
}
.flair-pirelli-supersoft:before {
  background-position: -176px -112px;
}
.flair-pirelli-ultrasoft:before {
  background-position: -176px -128px;
}
.flair-pirelli-wet:before {
  background-position: -176px -144px;
}
.flair-red-bull:before {
  background-position: -176px -160px;
}
.flair-renault:before {
  background-position: 0px -176px;
}
.flair-roland-ratzenberger:before {
  background-position: -22px -176px;
}
.flair-romain-grosjean:before {
  background-position: -44px -176px;
}
.flair-ronnie-peterson:before {
  background-position: -66px -176px;
}
.flair-ross-brawn:before {
  background-position: -88px -176px;
}
.flair-safety-car:before {
  background-position: -110px -176px;
}
.flair-sauber:before {
  background-position: -132px -176px;
}
.flair-sebastian-vettel:before {
  background-position: -154px -176px;
}
.flair-sergey-sirotkin:before {
  background-position: -176px -176px;
}
.flair-sergio-perez:before {
  background-position: -198px 0px;
}
.flair-spyker:before {
  background-position: -198px -16px;
}
.flair-stoffel-vandoorne:before {
  background-position: -198px -32px;
}
.flair-susie-wolff:before {
  background-position: -198px -48px;
}
.flair-tatiana-calderon:before {
  background-position: -198px -64px;
}
.flair-tom-pryce:before {
  background-position: -198px -80px;
}
.flair-toro-rosso:before {
  background-position: -198px -96px;
}
.flair-tyrrell:before {
  background-position: -198px -112px;
}
.flair-valtteri-bottas:before {
  background-position: -198px -128px;
}
.flair-williams:before {
  background-position: -198px -144px;
}
