#header-bottom-left {
  background      : url(%%headergradient%%) center no-repeat;
  background-size : cover;
  height          : 110px;
}

#header {
  background     : #fff;
  border-bottom  : 1px solid #ccc;
  box-shadow     : 0 0 1px #BEBEBE;
  font-family    : Helvetica, Arial, sans-serif;
  height         : 140px;
  padding-bottom : 35px;
}

#header ul.tabmenu {
  left     : 5px;
  position : absolute;
  top      : 142px;
}

#header-img {
  margin-left  : 30px;
  margin-top   : 25px;
}

#sr-header-area {
  background    : #2d2d2d;
  border-bottom : 1px solid #222;
  color         : #fff;
  height        : 20px;
  line-height   : 20px;
}

.pagename {
  background      : url(%%f1-logo%%) center no-repeat;
  background-size : contain;
  color           : #ccc;
  display         : inline-block;
  font-size       : 6pt;
  font-style      : italic;
  font-variant    : inherit;
  font-weight     : 300;
  height          : 40px;
  left            : 50%;
  letter-spacing  : 1px;
  margin          : 0;
  opacity         : 0.7;
  overflow        : hidden;
  position        : absolute;
  text-indent     : -99999pt;
  text-transform  : uppercase;
  top             : 78px;
  transform       : translateX(-50%) translateY(-50%);
  transition      : opacity 0.3s ease-out;
  vertical-align  : inherit;
  width           : 320px;

  &:hover {
    opacity : 1;
  }
  
  a {
    display     : block;
    height      : 40px;
  }
}

.res-navTop #header-bottom-right,
#header-bottom-right {
  background   : 0 0;
  bottom       : 4px;
  font-size    : 11px;
  height       : 24px;
  line-height  : 28px;
  margin-right : 10px;
  padding      : 0;
  top          : 142px;
}

#header-bottom-left .tabmenu li {
  border-right : 1px dotted #ccc;
  margin       : 0;
  padding      : 0 5px;
}

#header-bottom-left .tabmenu li a {
  background-color : transparent;
  color            : #2f2f2f;
  font-size        : 13px;
}

#header-bottom-left .tabmenu li.selected a {
  background-color : transparent;
  border           : 0;
  color            : red;
}

#sr-header-area a {
  background : #2d2d2d;
  color      : #f1f1f1;
}

// Dropdowns
.titlebox .md > blockquote:nth-of-type(1) > blockquote,
.titlebox .md > blockquote:nth-of-type(2) > blockquote {
  border-top  : 2px solid #454545;
  left        : 25px;
  max-height  : 0;
  opacity     : 0;
  overflow    : hidden;
  padding-top : 0;
  position    : absolute;
  top         : 51px;
  transition  : max-height .5s ease-out, opacity .5s ease-out;
}

.titlebox .md > blockquote:nth-of-type(1),
.titlebox .md > blockquote:nth-of-type(2) {
  display  : block;
  left     : 0;
  position : absolute;
  top      : 52px;
  z-index  : 1000;
}

.titlebox .md > blockquote:nth-of-type(1) > h1,
.titlebox .md > blockquote:nth-of-type(2) > h1 {
  border-radius : 0;
  color         : #fff;
  cursor        : pointer;
  display       : block;
  height        : 61px;
  left          : 83px;
  margin        : 0;
  padding       : 0;
  position      : absolute;
  text-indent   : -999pt;
  top           : -10px;
  width         : 58px;
}

.titlebox .md > blockquote:nth-of-type(1) > blockquote,
.titlebox .md > blockquote:nth-of-type(2) > blockquote {
  background : #f2f2f2;
}

.titlebox .md > blockquote:nth-of-type(1):hover > blockquote,
.titlebox .md > blockquote:nth-of-type(2):hover > blockquote {
  max-height       : 600px;
  opacity          : 1;
  transition-delay : .5s;
}

.titlebox .md > blockquote:nth-of-type(2) > h1 {
  left : 135px;
}

.titlebox .md > blockquote:nth-of-type(1):hover > blockquote > ul,
.titlebox .md > blockquote:nth-of-type(2):hover > blockquote > ul {
  background : #f2f2f2;
  margin     : 0;
  padding    : 0;
  width      : 633px;
}

.titlebox .md > blockquote:nth-of-type(1) > blockquote > blockquote > ul,
.titlebox .md > blockquote:nth-of-type(2) > blockquote > blockquote > ul {
  padding : 15px 15px 0;
}

.titlebox .md > blockquote:nth-of-type(1) > blockquote > blockquote,
.titlebox .md > blockquote:nth-of-type(2) > blockquote > blockquote {
  background   : #f2f2f2;
  border-right : 1px solid #fff;
  float        : left;
  min-height   : 365px;
  width        : 200px;
}

.titlebox .md > blockquote:nth-of-type(1) ul,
.titlebox .md > blockquote:nth-of-type(2) ul {
  list-style-type : none;
  margin          : 0;
}

.titlebox .md > blockquote:nth-of-type(1) > blockquote {
  width : 718px;
}

.titlebox .md > blockquote:nth-of-type(1) > blockquote > blockquote > ul > li > ul,
.titlebox .md > blockquote:nth-of-type(2) > blockquote > blockquote > ul > li > ul {
  border-top  : 1px solid #e2e2e2;
  color       : #000;
  font-size   : 10pt;
  font-style  : normal;
  font-weight : 400;
  line-height : 1.9em;
  margin-top  : 5px;
  padding     : 5px 0 15px;
}

.titlebox .md > blockquote:nth-of-type(1) > blockquote > blockquote > ul > li,
.titlebox .md > blockquote:nth-of-type(2) > blockquote > blockquote > ul > li {
  color       : #474747;
  font-size   : 12pt;
  font-weight : 600;
}

.titlebox .md > blockquote:nth-of-type(2) > blockquote > blockquote > ul > li li em {
  color          : #474747;
  font-size      : 8pt !important;
  font-style     : normal;
  font-weight    : 700;
  text-transform : uppercase;
}

.titlebox .md > blockquote:nth-of-type(2) > blockquote ul > li > ul > li > a {
  font-size      : 10pt !important;
  font-variant   : normal;
  font-weight    : 400;
  text-transform : none;
}

.titlebox .md > blockquote:nth-of-type(1) > blockquote > blockquote:nth-of-type(1),
.titlebox .md > blockquote:nth-of-type(1) > blockquote > blockquote:nth-of-type(2),
.titlebox .md > blockquote:nth-of-type(2) > blockquote > blockquote:nth-of-type(1),
.titlebox .md > blockquote:nth-of-type(2) > blockquote > blockquote:nth-of-type(2) {
  width : 180px;
}

.titlebox .md > blockquote:nth-of-type(1) > blockquote > blockquote:nth-of-type(2) {
  width : 230px;
}

.titlebox .md > blockquote:nth-of-type(1) > blockquote > blockquote:nth-of-type(3) {
  width : 305px;
}

.titlebox .md > blockquote:nth-of-type(2) > blockquote {
  width : 563px;
}

.titlebox .md > blockquote:nth-of-type(2) > blockquote > blockquote {
  min-height : 472px;
}

.titlebox .md > blockquote:nth-of-type(1):before,
.titlebox .md > blockquote:nth-of-type(2):before {
  background : url(%%sprite%%) no-repeat;
  content    : "";
  cursor     : pointer;
  display    : block;
  height     : 18px;
  position   : absolute;
  top        : 20px;
  width      : 25px;
  z-index    : 1000;
}

.titlebox .md > blockquote:nth-of-type(1):before {
  background-position : -1px -61px;
  left                : 100px;
}

.titlebox .md > blockquote:nth-of-type(2):before {
  background-position : -30px -61px;
  left                : 150px;
}

.titlebox .md > blockquote:nth-of-type(1):hover:before {
  background-position : -1px -36px;
}

.titlebox .md > blockquote:nth-of-type(2):hover:before {
  background-position : -30px -36px;
}

.titlebox .md > blockquote:nth-of-type(1) > h1:after,
.titlebox .md > blockquote:nth-of-type(2) > h1:after {
  background : #f2f2f2;
  bottom     : -7px;
  content    : "";
  display    : block;
  height     : 10px;
  left       : 24px;
  opacity    : 0;
  position   : absolute;
  transform  : rotate(45deg);
  transition : opacity .8s ease-out;
  width      : 10px;
  z-index    : 100;
}

.titlebox .md > blockquote:nth-of-type(1):hover > h1:after,
.titlebox .md > blockquote:nth-of-type(2):hover > h1:after {
  opacity          : 1;
  transition-delay : .8s;
}

.titlebox .md > blockquote:nth-of-type(1) > blockquote > blockquote > ul > li > ul > li,
.titlebox .md > blockquote:nth-of-type(2) > blockquote > blockquote > ul > li > ul > li {
  line-height : 1.9em;
}

.titlebox .md > blockquote:nth-of-type(3) {
    color      : white;
    font-size  : 11px;
    font-style : italic;
    max-width  : 250px;
    opacity    : 0.5;
    position   : absolute;
    right      : 25px;
    top        : 75px;
    transform  : translateY(-50%);
    transition : opacity 0.3s ease-out;
    z-index    : 1000;
    text-align: right;

  &:hover {
    opacity : 1;
  }

}
