#header {
  border-bottom: none;
  background-color: $black;
}

#header-bottom-left {
  background: url(%%wec-header%%) center / cover;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:before {
    content: 'r/WECFeederSeries';
    display: block;
    font-size: 45px;
    color: $green;
    font-weight: 300;
  }
}

.tabmenu {
  position: absolute;
  bottom: 0;
  left: 0;

  li {
    padding: 4px;

    &.selected a {
      background: none;
      border: none;
    }

    a {
      background: none;
      color: $green;
    }
  }
}

.pagename {
  @extend %display-none;
}

#header-img {
  position: absolute;
  top: 50%;
  left: 50px;
  margin: 0;
  transform: translateY(-2px);
  display: none;
}

.res-navTop #header-bottom-right,
#header-bottom-right {
  background: none;
  position: absolute;
  top: auto;
  bottom: 0;

  a {
    color: white;
  }
}

#sr-header-area {
  background: $black;
  border-bottom: none;

  a {
    color: $green;
  }
}
