// Default label styles
p.title > .linkflairlabel {
  background    : #323232;
  color         : #fff;
  padding       : 1px 4px;
}

// Golden star
.linkflair-star p.title:before {
  @extend %display-inline-block;
  background   : url(%%sprite%%) -111px -1px no-repeat;
  content      : "";
  height       : 16px;
  margin-right : 5px;
  width        : 18px;
}

// Hide flairs from post overview
.sitetable.linklisting .thing .flair,
div.linkflair-star p.title > .linkflairlabel,
ul.content span.flair {
  @extend %display-none;
}

// Link flairs
.linkflairlabel {
  border      : 0;
  color       : #000;
  line-height : 1.5em;
}

.linkflair-paywall p .linkflairlabel {
  color : #73e673;
}

.linkflair-rumour p .linkflairlabel {
  color : orange;
}

.linkflair-video p .linkflairlabel {
  color : red;
}

.linkflair-off-topic p .linkflairlabel {
  color : #1be3f1;
}

.linkflair-highlight p .linkflairlabel,
.linkflair-mod-comment p .linkflairlabel {
  background-color : #ccc;
  color            : #222;
}

.linkflair-mod-removal p .linkflairlabel {
  background-color : #FF7878;
  color            : #000;
}

.linkflair-sub-all p .linkflairlabel {
  background-color : #ff4500;
  color            : #fff;
}

.linkflair-practice p .linkflairlabel,
.linkflair-qualifying p .linkflairlabel,
.linkflair-race p .linkflairlabel {
  color : #fff;
}

.linkflair-practice p .linkflairlabel {
  background : #d2322d;
}

.linkflair-qualifying p .linkflairlabel {
  background : #369;
}

.linkflair-race p .linkflairlabel {
  background : #6db81c;
}

.linkflair-feature p .linkflairlabel {
  background : #000;
  color      : #fff;
}

// Posts marked with colored border
.thing.linkflair.linkflair-hub {
  border-left : 5px solid #3c3c3c;
}

.thing.linkflair.linkflair-race {
  border-left : 5px solid #6db81c;
}

.thing.linkflair.linkflair-qualifying {
  border-left : 5px solid #369;
}

.thing.linkflair.linkflair-practice {
  border-left : 5px solid #d2322d;
}

.thing.linkflair.linkflair-feature {
  border-left : 5px solid #0D0D0D;
}

.thing.linkflair-star {
  border-left : 5px solid #ecbe24;
}
