// Default label styles
p.title > .linkflairlabel[title=""] {
  display: none;
}

// Golden star
.linkflair-star p.title:before {
  @extend %display-inline-block;
  background   : url(%%sprite%%) -111px -1px no-repeat;
  content      : "";
  height       : 16px;
  margin-right : 5px;
  width        : 18px;
}

// Hide flairs from post overview
.sitetable.linklisting .thing .flair,
div.linkflair-star p.title > .linkflairlabel,
ul.content span.flair {
  @extend %display-none;
}

// Link flairs
.linkflairlabel {
  border      : 0;
  color       : #000;
  line-height : 1.5em;
  background  : #323232;
  color       : #fff;
  padding     : 1px 4px;
}

// Mod only flairs
.linkflair-rumour .linkflairlabel {
  color : orange;
}

.linkflair-mod-comment .linkflairlabel {
  background-color : #ccc;
  color            : #222;
}

.linkflair-highlight .linkflairlabel {
  color : tomato;
}

.linkflair-mod-removal .linkflairlabel {
  background-color : #FF7878;
  color            : #000;
}

.linkflair-feature .linkflairlabel {
  background : #000;
  color      : #fff;
}

.linkflair-editorial .linkflairlabel {
  background : darkcyan;
}

// Automatic flairs
.linkflair-paywall .linkflairlabel {
  color : #ccc;
}

.linkflair-sub-all .linkflairlabel {
  background-color : #ff4500;
  color            : #fff;
}

.linkflair-practice .linkflairlabel,
.linkflair-qualifying .linkflairlabel,
.linkflair-race .linkflairlabel {
  color : #fff;
}

.linkflair-practice .linkflairlabel {
  background : #d2322d;
}

.linkflair-qualifying .linkflairlabel {
  background : #369;
}

.linkflair-race .linkflairlabel {
  background : #6db81c;
}

// User flairs
.linkflair-discussion .linkflairlabel,
.linkflair-analysis .linkflairlabel,
.linkflair-serious .linkflairlabel,
.linkflair-technical .linkflairlabel,
.linkflair-question .linkflairlabel {
  color : #00d6d6;
}

.linkflair-video .linkflairlabel {
  color : tomato;
}

.linkflair-memorabilia .linkflairlabel,
.linkflair-photo .linkflairlabel,
.linkflair-art .linkflairlabel {
  color: yellow;
}

.linkflair-technical .linkflairlabel {
  color: springgreen;
}

.linkflair-throwback .linkflairlabel,
.linkflair-social-media .linkflairlabel {
  color: pink;
}

.linkflair-news .linkflairlabel,
.linkflair-off-topic .linkflairlabel {
  color: white;
}

.linkflair-statistics .linkflairlabel {
  color: #73e673;
}

// Posts marked with colored border
.thing.linkflair.linkflair-hub {
  border-left : 5px solid #3c3c3c;
}

.thing.linkflair.linkflair-race {
  border-left : 5px solid #6db81c;
}

.thing.linkflair.linkflair-qualifying {
  border-left : 5px solid #369;
}

.thing.linkflair.linkflair-practice {
  border-left : 5px solid #d2322d;
}

.thing.linkflair.linkflair-feature {
  border-left : 5px solid #0D0D0D;
}

.thing.linkflair-star {
  border-left : 5px solid #ecbe24;
}

.thing.linkflair-editorial {
  border-left : 5px solid darkcyan;
}
