
.linkflair.linkflair-race .md table:nth-of-type(1),
.linkflair.linkflair-race .md table:nth-of-type(2) {
  margin : 0 auto 1.5em;
  width  : 60%;
}

.linkflair.linkflair-race .md table:nth-of-type(3) {
  margin : 0 auto 1.5em;
  width  : 100%;
}

.linkflair.linkflair-race .md h3 {
  font-size      : 20px;
  letter-spacing : -1px;
  text-align     : center;
}

.linkflair.linkflair-post-qualifying .md p:nth-of-type(1),
.linkflair.linkflair-post-race .md p:nth-of-type(1),
.linkflair.linkflair-practice .md p:nth-of-type(1),
.linkflair.linkflair-qualifying .md p:nth-of-type(1),
.linkflair.linkflair-race .md p:nth-of-type(1) {
  background     : #f1f1f1;
  font-weight    : 700;
  padding        : 10px;
  text-align     : center !important;
  text-transform : uppercase;
}

.linkflair.linkflair-post-qualifying .md p:nth-of-type(1) a,
.linkflair.linkflair-post-race .md p:nth-of-type(1) a,
.linkflair.linkflair-practice .md p:nth-of-type(1) a,
.linkflair.linkflair-qualifying .md p:nth-of-type(1) a,
.linkflair.linkflair-race .md p:nth-of-type(1) a {
  color : #5A5A5A;
}

.linkflair.linkflair-race .md h4:nth-of-type(2) {
  margin-left : 55px;
}

.linkflair.linkflair-race .md table:nth-of-type(3) tr th {
  border       : 0;
  border-right : 1px solid #484848;
  padding      : .5em;
  text-align   : center;
}

.linkflair.linkflair-race .md table:nth-of-type(3) tr th:nth-of-type(1) {
  background  : #fff;
  border      : 0;
  color       : #000;
  text-shadow : none;
}

.linkflair.linkflair-race .md table:nth-of-type(3) tr td {
  border         : 0;
  border-bottom  : 1px solid rgba(0, 0, 0, .02);
  border-right   : 1px solid rgba(204, 204, 204, .09);
  height         : 39px;
  padding        : 0;
  vertical-align : middle;
}

.linkflair.linkflair-race .md table:nth-of-type(3) tr td:nth-of-type(3) {
  border-right : 0 none;
}

.linkflair.linkflair-race .md table:nth-of-type(3) tr td:nth-of-type(1) {
  background     : #fff;
  border-bottom  : 1px dotted #F7F7F7;
  font-size      : 10px;
  font-weight    : 700;
  text-align     : center;
  text-transform : uppercase;
  width          : 45px;
}

.linkflair .md a[href="#rt_merc"],
.linkflair .md a[href="#rt_mcl"],
.linkflair .md a[href="#rt_man"],
.linkflair .md a[href="#rt_ren"],
.linkflair .md a[href="#rt_tor"],
.linkflair .md a[href="#rt_rb"],
.linkflair .md a[href="#rt_haas"],
.linkflair .md a[href="#rt_sau"],
.linkflair .md a[href="#rt_fer"],
.linkflair .md a[href="#rt_fi"],
.linkflair .md a[href="#rt_wil"] {
  background-image : url(%%flag-med-sprite%%);
  content          : "";
  display          : block;
  float            : right;
  height           : 39px;
  margin-top       : -1px;
  overflow         : hidden;
  position         : relative;
  text-indent      : -999pt;
  width            : 50px;
}

.linkflair.linkflair-post-qualifying .md a[href="#rt_merc"],
.linkflair.linkflair-post-qualifying .md a[href="#rt_mcl"],
.linkflair.linkflair-post-qualifying .md a[href="#rt_man"],
.linkflair.linkflair-post-qualifying .md a[href="#rt_ren"],
.linkflair.linkflair-post-qualifying .md a[href="#rt_tor"],
.linkflair.linkflair-post-qualifying .md a[href="#rt_rb"],
.linkflair.linkflair-post-qualifying .md a[href="#rt_haas"],
.linkflair.linkflair-post-qualifying .md a[href="#rt_sau"],
.linkflair.linkflair-post-qualifying .md a[href="#rt_fer"],
.linkflair.linkflair-post-qualifying .md a[href="#rt_fi"],
.linkflair.linkflair-post-qualifying .md a[href="#rt_wil"],
.linkflair.linkflair-post-race .md a[href="#rt_merc"],
.linkflair.linkflair-post-race .md a[href="#rt_mcl"],
.linkflair.linkflair-post-race .md a[href="#rt_man"],
.linkflair.linkflair-post-race .md a[href="#rt_ren"],
.linkflair.linkflair-post-race .md a[href="#rt_tor"],
.linkflair.linkflair-post-race .md a[href="#rt_rb"],
.linkflair.linkflair-post-race .md a[href="#rt_haas"],
.linkflair.linkflair-post-race .md a[href="#rt_sau"],
.linkflair.linkflair-post-race .md a[href="#rt_fer"],
.linkflair.linkflair-post-race .md a[href="#rt_fi"],
.linkflair.linkflair-post-race .md a[href="#rt_wil"] {
  background-size : 200px;
  height          : 26px;
  width           : 30px;
}

.linkflair .md a[href="#rt_merc"] {
  background-position : -250px -310px;
}

.linkflair .md a[href="#rt_mcl"] {
  background-position : -201px -310px;
}

.linkflair .md a[href="#rt_man"] {
  background-position : -150px -310px;
}

.linkflair .md a[href="#rt_ren"] {
  background-position : -50px -349px;
}

.linkflair .md a[href="#rt_tor"] {
  background-position : -150px -349px;
}

.linkflair .md a[href="#rt_rb"] {
  background-position : -300px -349px;
}

.linkflair .md a[href="#rt_haas"] {
  background-position : -100px -310px;
}

.linkflair .md a[href="#rt_sau"] {
  background-position : -100px -349px;
}

.linkflair .md a[href="#rt_fer"] {
  background-position : 0 -310px;
}

.linkflair .md a[href="#rt_fi"] {
  background-position : -50px -310px;
}

.linkflair .md a[href="#rt_wil"] {
  background-position : -500px -349px;
}

.linkflair .md a[href="#rt_merc"]:after,
.linkflair .md a[href="#rt_mcl"]:after,
.linkflair .md a[href="#rt_man"]:after,
.linkflair .md a[href="#rt_ren"]:after,
.linkflair .md a[href="#rt_tor"]:after,
.linkflair .md a[href="#rt_rb"]:after,
.linkflair .md a[href="#rt_haas"]:after,
.linkflair .md a[href="#rt_sau"]:after,
.linkflair .md a[href="#rt_fer"]:after,
.linkflair .md a[href="#rt_fi"]:after,
.linkflair .md a[href="#rt_wil"]:after {
  background-image : url(%%flags%%);
  bottom           : 0;
  content          : "";
  display          : block;
  height           : 11px;
  left             : 0;
  position         : absolute;
  width            : 16px;
}

.linkflair .md a[href="#rt_merc"]:after {
  background-position : -284px -117px;
}

.linkflair .md a[href="#rt_fi"]:after {
  background-position : -32px -257px;
}

.linkflair .md a[href="#rt_mcl"]:after,
.linkflair .md a[href="#rt_man"]:after,
.linkflair .md a[href="#rt_wil"]:after {
  background-position : -284px -173px;
}

.linkflair .md a[href="#rt_tor"]:after,
.linkflair .md a[href="#rt_fer"]:after {
  background-position : -172px -257px;
}

.linkflair .md a[href="#rt_rb"]:after {
  background-position : -4px -33px;
}

.linkflair .md a[href="#rt_haas"]:after {
  background-position : -4px -565px;
}

.linkflair .md a[href="#rt_sau"]:after {
  background-position : -198px -89px;
  margin-left         : -2px;
}

.linkflair .md a[href="#rt_ren"]:after {
  background-position : -228px -173px;
}

.linkflair.linkflair-race .md table:nth-of-type(3) tr td strong {
  display     : block;
  float       : left;
  font-weight : 400;
  height      : 38px;
  line-height : 40px;
  margin      : 0 10px;
}

.linkflair.linkflair-race .md table:nth-of-type(3) tr td strong:nth-of-type(1) {
  background  : #f1f1f1;
  font-weight : 700;
  margin      : 1px 1px 0 0;
  text-align  : center;
  width       : 39px;
}

.linkflair.linkflair-race .md table:nth-of-type(3) tr td strong:nth-of-type(3) {
  color : #9E9E9E;
}

.linkflair.linkflair-race .md table:nth-of-type(3) tr td strong:nth-of-type(3):before {
  content : "Q: ";
}

.linkflair.linkflair-race .md table:nth-of-type(3) a {
  cursor         : pointer;
  pointer-events : none;
}

.post-linkflair-post-race .linkflair .md table:nth-of-type(1) td {
  font-size   : 11pt;
  line-height : 18pt;
}

.linkflair.linkflair-post-qualifying .md a[href="#rt_merc"],
.linkflair.linkflair-post-race .md a[href="#rt_merc"] {
  background-position : -368px -464px;
}

.linkflair.linkflair-post-qualifying .md a[href="#rt_fer"],
.linkflair.linkflair-post-race .md a[href="#rt_fer"] {
  background-position : -402px -720px;
}

.linkflair.linkflair-post-qualifying .md a[href="#rt_wil"],
.linkflair.linkflair-post-race .md a[href="#rt_wil"] {
  background-position : -534px -490px;
}

.linkflair.linkflair-post-qualifying .md a[href="#rt_mcl"],
.linkflair.linkflair-post-race .md a[href="#rt_mcl"] {
  background-position : -334px -464px;
}

.linkflair.linkflair-post-qualifying .md a[href="#rt_ren"],
.linkflair.linkflair-post-race .md a[href="#rt_ren"] {
  background-position : -36px -490px;
}

.linkflair.linkflair-post-qualifying .md a[href="#rt_haas"],
.linkflair.linkflair-post-race .md a[href="#rt_haas"] {
  background-position : -268px -464px;
}

.linkflair.linkflair-post-qualifying .md a[href="#rt_rb"],
.linkflair.linkflair-post-race .md a[href="#rt_rb"] {
  background-position : -402px -490px;
}

.linkflair.linkflair-post-qualifying .md a[href="#rt_tor"],
.linkflair.linkflair-post-race .md a[href="#rt_tor"] {
  background-position : -102px -490px;
}

.linkflair.linkflair-post-qualifying .md a[href="#rt_sau"],
.linkflair.linkflair-post-race .md a[href="#rt_sau"] {
  background-position : -68px -490px;
}

.linkflair.linkflair-post-qualifying .md a[href="#rt_man"],
.linkflair.linkflair-post-race .md a[href="#rt_man"] {
  background-position : -302px -464px;
}

.linkflair.linkflair-post-qualifying .md a[href="#rt_fi"],
.linkflair.linkflair-post-race .md a[href="#rt_fi"] {
  background-position : -236px -464px;
}
