a[href="#merc"] {
  background : #28ecff;
}

a[href="#rbr"] {
  background : #1e41ff;
}

a[href="#mcl"] {
  background : #fd8000;
}

a[href="#rpt"],
a[href="#ast"] {
  background : #00703a;
}

a[href="#ren"],
a[href="#apn"] {
  background : #007eff;
}

a[href="#fer"] {
  background : #df0100;
}

a[href="#str"],
a[href="#alp"] {
  background : #ffffff;
}

a[href="#alf"] {
  background : #960000;
}

a[href="#has"] {
  background : #515151;
}

a[href="#wil"] {
  background : #00b5ff;
}
