a[href="#merc"] {
  background : #00D2BE;
}

a[href="#fer"] {
  background : #DC0000;
}

a[href="#rbr"] {
  background : #1E41FF;
}

a[href="#rpt"] {
  background : #F596C8;
}

a[href="#wil"] {
  background : #FFFFFF;
}

a[href="#str"] {
  background : #469BFF;
}

a[href="#ren"] {
  background : #FFF500;
}

a[href="#has"] {
  background : #bd9e57;
}

a[href="#mcl"] {
  background : #FF8700;
}

a[href="#alf"] {
  background : #9B0000;
}
