.flair:before {
  background-image    : url(%%flairs%%);
  background-repeat   : no-repeat;
  content             : "";
  display             : inline-block;
  height              : 16px;
  margin-right        : 4px;
  vertical-align      : middle;
  width               : 22px;
  @extend .flair-aaa-default:before;
}

.flair-aaa-default:before {
  background-position: -22px 0px;
}
.flair-alain-prost:before {
  background-position: -176px -128px;
}
.flair-alan-jones:before {
  background-position: 0px -16px;
}
.flair-alberto-ascari:before {
  background-position: -22px -16px;
}
.flair-alex-zanardi:before {
  background-position: -44px 0px;
}
.flair-alexander-albon:before {
  background-position: -44px -16px;
}
.flair-alfa-romeo:before {
  background-position: 0px -32px;
}
.flair-alphatauri:before {
  background-position: -22px -32px;
}
.flair-alpine:before {
  background-position: -44px -32px;
}
.flair-andrea-moda:before {
  background-position: 0px -48px;
}
.flair-andreas-seidl:before {
  background-position: -22px -48px;
}
.flair-anthoine-hubert:before {
  background-position: -44px -48px;
}
.flair-antonio-giovinazzi:before {
  background-position: -66px 0px;
}
.flair-arrows:before {
  background-position: -66px -16px;
}
.flair-aston-martin:before {
  background-position: -66px -32px;
}
.flair-ayrton-senna:before {
  background-position: -66px -48px;
}
.flair-bar-honda:before {
  background-position: 0px -64px;
}
.flair-benetton:before {
  background-position: -22px -64px;
}
.flair-bernd-maylander:before {
  background-position: -44px -64px;
}
.flair-bmw-sauber:before {
  background-position: -66px -64px;
}
.flair-brabham:before {
  background-position: -88px 0px;
}
.flair-brawn-gp:before {
  background-position: -88px -16px;
}
.flair-brendon-hartley:before {
  background-position: -88px -32px;
}
.flair-brm:before {
  background-position: -88px -48px;
}
.flair-bruce-mclaren:before {
  background-position: -88px -64px;
}
.flair-carlos-sainz-jr:before {
  background-position: 0px -80px;
}
.flair-caterham:before {
  background-position: -22px -80px;
}
.flair-charles-leclerc:before {
  background-position: -44px -80px;
}
.flair-charlie-whiting:before {
  background-position: -66px -80px;
}
.flair-chase-carey:before {
  background-position: -88px -80px;
}
.flair-christian-horner:before {
  background-position: -110px 0px;
}
.flair-claire-williams:before {
  background-position: -110px -16px;
}
.flair-cooper:before {
  background-position: -110px -32px;
}
.flair-cyril-abiteboul:before {
  background-position: -110px -48px;
}
.flair-damon-hill:before {
  background-position: -110px -64px;
}
.flair-dan-gurney:before {
  background-position: -110px -80px;
}
.flair-daniel-ricciardo:before {
  background-position: 0px -96px;
}
.flair-daniil-kvyat:before {
  background-position: -22px -96px;
}
.flair-david-coulthard:before {
  background-position: -44px -96px;
}
.flair-de-tomaso:before {
  background-position: -66px -96px;
}
.flair-denny-hulme:before {
  background-position: -88px -96px;
}
.flair-desire-wilson:before {
  background-position: -110px -96px;
}
.flair-drive-to-survive:before {
  background-position: 0px -112px;
}
.flair-eddie-irvine:before {
  background-position: -22px -112px;
}
.flair-emerson-fittipaldi:before {
  background-position: -44px -112px;
}
.flair-esteban-ocon:before {
  background-position: -66px -112px;
}
.flair-eurobrun:before {
  background-position: -88px -112px;
}
.flair-f1-classic-logo:before {
  background-position: -110px -112px;
}
.flair-f1-logo:before {
  background-position: -132px 0px;
}
.flair-felipe-massa:before {
  background-position: -132px -16px;
}
.flair-fernando-alonso:before {
  background-position: -132px -32px;
}
.flair-ferrari:before {
  background-position: -132px -48px;
}
.flair-fia:before {
  background-position: -132px -64px;
}
.flair-flair-team:before {
  background-position: -132px -80px;
}
.flair-force-india:before {
  background-position: -132px -96px;
}
.flair-frank-williams:before {
  background-position: -132px -112px;
}
.flair-franz-tost:before {
  background-position: 0px -128px;
}
.flair-frederic-vasseur:before {
  background-position: -22px -128px;
}
.flair-george-russell:before {
  background-position: -44px -128px;
}
.flair-gilles-villeneuve:before {
  background-position: -66px -128px;
}
.flair-giuseppe-farina:before {
  background-position: -88px -128px;
}
.flair-graham-hill:before {
  background-position: -110px -128px;
}
.flair-guenther-steiner:before {
  background-position: -132px -128px;
}
.flair-haas:before {
  background-position: -154px 0px;
}
.flair-hall-of-fame:before {
  background-position: -154px -16px;
}
.flair-heikki-kovalainen:before {
  background-position: -154px -32px;
}
.flair-hesketh:before {
  background-position: -154px -48px;
}
.flair-history-project:before {
  background-position: -154px -64px;
}
.flair-honda:before {
  background-position: -154px -80px;
}
.flair-jack-aitken:before {
  background-position: -154px -96px;
}
.flair-jack-brabham:before {
  background-position: -154px -112px;
}
.flair-jackie-stewart:before {
  background-position: -154px -128px;
}
.flair-jacques-villeneuve:before {
  background-position: 0px -144px;
}
.flair-jaguar:before {
  background-position: -22px -144px;
}
.flair-james-hunt:before {
  background-position: -44px -144px;
}
.flair-jean-alesi:before {
  background-position: -66px -144px;
}
.flair-jean-pierre-jabouille:before {
  background-position: -88px -144px;
}
.flair-jean-todt:before {
  background-position: -110px -144px;
}
.flair-jenson-button:before {
  background-position: -132px -144px;
}
.flair-jim-clark:before {
  background-position: -154px -144px;
}
.flair-jochen-rindt:before {
  background-position: 0px -160px;
}
.flair-jody-scheckter:before {
  background-position: -22px -160px;
}
.flair-john-surtees:before {
  background-position: -44px -160px;
}
.flair-jolyon-palmer:before {
  background-position: -66px -160px;
}
.flair-jordan:before {
  background-position: -88px -160px;
}
.flair-juan-manuel-fangio:before {
  background-position: -110px -160px;
}
.flair-juan-pablo-montoya:before {
  background-position: -132px -160px;
}
.flair-jules-bianchi:before {
  background-position: -154px -160px;
}
.flair-kamui-kobayashi:before {
  background-position: -176px 0px;
}
.flair-karun-chandhok:before {
  background-position: -176px -16px;
}
.flair-keke-rosberg:before {
  background-position: -176px -32px;
}
.flair-kevin-magnussen:before {
  background-position: -176px -48px;
}
.flair-kimi-raikkonen:before {
  background-position: -176px -64px;
}
.flair-lance-stroll:before {
  background-position: -176px -80px;
}
.flair-lando-norris:before {
  background-position: -176px -96px;
}
.flair-lella-lombardi:before {
  background-position: -176px -112px;
}
.flair-lewis-hamilton:before {
  background-position: 0px 0px;
}
.flair-life:before {
  background-position: -176px -144px;
}
.flair-ligier:before {
  background-position: -176px -160px;
}
.flair-lotus:before {
  background-position: 0px -176px;
}
.flair-manor:before {
  background-position: -22px -176px;
}
.flair-marcus-ericsson:before {
  background-position: -44px -176px;
}
.flair-mario-andretti:before {
  background-position: -66px -176px;
}
.flair-mark-webber:before {
  background-position: -88px -176px;
}
.flair-martin-brundle:before {
  background-position: -110px -176px;
}
.flair-marussia:before {
  background-position: -132px -176px;
}
.flair-maserati:before {
  background-position: -154px -176px;
}
.flair-matra:before {
  background-position: -176px -176px;
}
.flair-mattia-binotto:before {
  background-position: -198px 0px;
}
.flair-max-verstappen:before {
  background-position: -198px -16px;
}
.flair-mclaren:before {
  background-position: -198px -32px;
}
.flair-mercedes:before {
  background-position: -198px -48px;
}
.flair-michael-masi:before {
  background-position: -198px -64px;
}
.flair-michael-schumacher:before {
  background-position: -198px -80px;
}
.flair-mika-hakkinen:before {
  background-position: -198px -96px;
}
.flair-mike-hawthorn:before {
  background-position: -198px -112px;
}
.flair-minardi:before {
  background-position: -198px -128px;
}
.flair-nelson-piquet:before {
  background-position: -198px -144px;
}
.flair-nicholas-latifi:before {
  background-position: -198px -160px;
}
.flair-nick-heidfeld:before {
  background-position: -198px -176px;
}
.flair-nico-hulkenberg:before {
  background-position: 0px -192px;
}
.flair-nico-rosberg:before {
  background-position: -22px -192px;
}
.flair-nigel-mansell:before {
  background-position: -44px -192px;
}
.flair-niki-lauda-memorial:before {
  background-position: -66px -192px;
}
.flair-niki-lauda:before {
  background-position: -88px -192px;
}
.flair-no-10:before {
  background-position: -110px -192px;
}
.flair-no-11:before {
  background-position: -132px -192px;
}
.flair-no-16:before {
  background-position: -154px -192px;
}
.flair-no-18:before {
  background-position: -176px -192px;
}
.flair-no-20:before {
  background-position: -198px -192px;
}
.flair-no-23:before {
  background-position: -220px 0px;
}
.flair-no-26:before {
  background-position: -220px -16px;
}
.flair-no-3:before {
  background-position: -220px -32px;
}
.flair-no-31:before {
  background-position: -220px -48px;
}
.flair-no-33:before {
  background-position: -220px -64px;
}
.flair-no-4:before {
  background-position: -220px -80px;
}
.flair-no-44:before {
  background-position: -220px -96px;
}
.flair-no-5:before {
  background-position: -220px -112px;
}
.flair-no-55:before {
  background-position: -220px -128px;
}
.flair-no-6:before {
  background-position: -220px -144px;
}
.flair-no-63:before {
  background-position: -220px -160px;
}
.flair-no-7:before {
  background-position: -220px -176px;
}
.flair-no-77:before {
  background-position: -220px -192px;
}
.flair-no-8:before {
  background-position: 0px -208px;
}
.flair-no-99:before {
  background-position: -22px -208px;
}
.flair-noob:before {
  background-position: -44px -208px;
}
.flair-oliver-turvey:before {
  background-position: -66px -208px;
}
.flair-otmar-szafnauer:before {
  background-position: -88px -208px;
}
.flair-paddock-club:before {
  background-position: -110px -208px;
}
.flair-pascal-wehrlein:before {
  background-position: -132px -208px;
}
.flair-pastor-maldonado:before {
  background-position: -154px -208px;
}
.flair-phil-hill:before {
  background-position: -176px -208px;
}
.flair-pierre-gasly:before {
  background-position: -198px -208px;
}
.flair-pirelli-hard:before {
  background-position: -220px -208px;
}
.flair-pirelli-intermediate:before {
  background-position: 0px -224px;
}
.flair-pirelli-medium:before {
  background-position: -22px -224px;
}
.flair-pirelli-soft:before {
  background-position: -44px -224px;
}
.flair-pirelli-wet:before {
  background-position: -66px -224px;
}
.flair-race-as-one:before {
  background-position: -88px -224px;
}
.flair-racing-point:before {
  background-position: -110px -224px;
}
.flair-red-bull:before {
  background-position: -132px -224px;
}
.flair-renault:before {
  background-position: -154px -224px;
}
.flair-robert-kubica:before {
  background-position: -176px -224px;
}
.flair-roland-ratzenberger:before {
  background-position: -198px -224px;
}
.flair-romain-grosjean:before {
  background-position: -220px -224px;
}
.flair-ronnie-peterson:before {
  background-position: -242px 0px;
}
.flair-ross-brawn:before {
  background-position: -242px -16px;
}
.flair-rubens-barrichello:before {
  background-position: -242px -32px;
}
.flair-safety-car:before {
  background-position: -242px -48px;
}
.flair-sauber:before {
  background-position: -242px -64px;
}
.flair-sebastian-vettel:before {
  background-position: -242px -80px;
}
.flair-sebastien-buemi:before {
  background-position: -242px -96px;
}
.flair-sergey-sirotkin:before {
  background-position: -242px -112px;
}
.flair-sergio-marchionne:before {
  background-position: -242px -128px;
}
.flair-sergio-perez:before {
  background-position: -242px -144px;
}
.flair-simon-roberts:before {
  background-position: -242px -160px;
}
.flair-spyker:before {
  background-position: -242px -176px;
}
.flair-stirling-moss:before {
  background-position: -242px -192px;
}
.flair-stoffel-vandoorne:before {
  background-position: -242px -208px;
}
.flair-super-aguri:before {
  background-position: -242px -224px;
}
.flair-taki-inoue:before {
  background-position: 0px -240px;
}
.flair-tatiana-calderon:before {
  background-position: -22px -240px;
}
.flair-tom-pryce:before {
  background-position: -44px -240px;
}
.flair-toro-rosso:before {
  background-position: -66px -240px;
}
.flair-toto-wolff:before {
  background-position: -88px -240px;
}
.flair-toyoharu-tanabe:before {
  background-position: -110px -240px;
}
.flair-toyota:before {
  background-position: -132px -240px;
}
.flair-tyrrell:before {
  background-position: -154px -240px;
}
.flair-valtteri-bottas:before {
  background-position: -176px -240px;
}
.flair-vanwall:before {
  background-position: -198px -240px;
}
.flair-will-buxton:before {
  background-position: -220px -240px;
}
.flair-williams:before {
  background-position: -242px -240px;
}
