.flair:before {
  background-image    : url(%%flairs%%);
  background-repeat   : no-repeat;
  content             : "";
  display             : inline-block;
  height              : 16px;
  margin-right        : 4px;
  vertical-align      : middle;
  width               : 22px;
  @extend .flair-aaa-default:before;
}

.flair-aaa-default:before {
  background-position: -132px -128px;
}
.flair-alain-prost:before {
  background-position: -66px -144px;
}
.flair-alan-jones:before {
  background-position: -176px -176px;
}
.flair-alberto-ascari:before {
  background-position: -22px -16px;
}
.flair-alfa-romeo:before {
  background-position: -46px 0px;
}
.flair-andrea-moda:before {
  background-position: -46px -16px;
}
.flair-antonio-giovinazzi:before {
  background-position: 0px -32px;
}
.flair-arrows:before {
  background-position: -22px -32px;
}
.flair-ayrton-senna:before {
  background-position: -44px -32px;
}
.flair-bar-honda:before {
  background-position: 0px -48px;
}
.flair-benetton:before {
  background-position: -22px -48px;
}
.flair-bernie-ecclestone:before {
  background-position: -44px -48px;
}
.flair-bmw-sauber:before {
  background-position: -68px 0px;
}
.flair-brabham:before {
  background-position: -68px -16px;
}
.flair-brawn-gp:before {
  background-position: -68px -32px;
}
.flair-brendon-hartley:before {
  background-position: -68px -48px;
}
.flair-brm:before {
  background-position: 0px -64px;
}
.flair-bruce-mclaren:before {
  background-position: -22px -64px;
}
.flair-carlos-sainz-jr:before {
  background-position: -44px -64px;
}
.flair-carmen-jorda:before {
  background-position: -66px -64px;
}
.flair-caterham:before {
  background-position: -90px 0px;
}
.flair-charles-leclerc:before {
  background-position: -90px -16px;
}
.flair-charlie-whiting:before {
  background-position: -90px -32px;
}
.flair-chase-carey:before {
  background-position: -90px -48px;
}
.flair-cooper:before {
  background-position: -90px -64px;
}
.flair-damon-hill:before {
  background-position: 0px -80px;
}
.flair-dan-gurney:before {
  background-position: -22px -80px;
}
.flair-daniel-ricciardo:before {
  background-position: -44px -80px;
}
.flair-daniil-kvyat:before {
  background-position: -66px -80px;
}
.flair-david-coulthard:before {
  background-position: -88px -80px;
}
.flair-de-tomaso:before {
  background-position: 0px -96px;
}
.flair-denny-hulme:before {
  background-position: -22px -96px;
}
.flair-desire-wilson:before {
  background-position: -44px -96px;
}
.flair-eddie-irvine:before {
  background-position: -66px -96px;
}
.flair-emerson-fittipaldi:before {
  background-position: -88px -96px;
}
.flair-esteban-ocon:before {
  background-position: -112px 0px;
}
.flair-eurobrun:before {
  background-position: -112px -16px;
}
.flair-f1-classic-logo:before {
  background-position: -112px -32px;
}
.flair-f1-logo:before {
  background-position: -112px -48px;
}
.flair-felipe-massa:before {
  background-position: -112px -64px;
}
.flair-fernando-alonso-indy500:before {
  background-position: -112px -80px;
}
.flair-fernando-alonso:before {
  background-position: -112px -96px;
}
.flair-ferrari:before {
  background-position: 0px -112px;
}
.flair-flair-team:before {
  background-position: -22px -112px;
}
.flair-force-india:before {
  background-position: -44px -112px;
}
.flair-gilles-villeneuve:before {
  background-position: -66px -112px;
}
.flair-giuseppe-farina:before {
  background-position: -88px -112px;
}
.flair-graham-hill:before {
  background-position: -110px -112px;
}
.flair-haas:before {
  background-position: -134px 0px;
}
.flair-hall-of-fame:before {
  background-position: -134px -16px;
}
.flair-heikki-kovalainen:before {
  background-position: -134px -32px;
}
.flair-hesketh:before {
  background-position: -134px -48px;
}
.flair-history-project:before {
  background-position: -134px -64px;
}
.flair-honda:before {
  background-position: -134px -80px;
}
.flair-jack-aitken:before {
  background-position: -134px -96px;
}
.flair-jack-brabham:before {
  background-position: -134px -112px;
}
.flair-jackie-stewart:before {
  background-position: 0px -128px;
}
.flair-jacques-villeneuve:before {
  background-position: -22px -128px;
}
.flair-jaguar:before {
  background-position: -44px -128px;
}
.flair-james-hunt:before {
  background-position: -66px -128px;
}
.flair-jean-alesi:before {
  background-position: -88px -128px;
}
.flair-jean-pierre-jabouille:before {
  background-position: -110px -128px;
}
.flair-jean-todt:before {
  background-position: 0px 0px;
}
.flair-jenson-button:before {
  background-position: -156px 0px;
}
.flair-jim-clark:before {
  background-position: -156px -16px;
}
.flair-jochen-rindt:before {
  background-position: -156px -32px;
}
.flair-jody-scheckter:before {
  background-position: -156px -48px;
}
.flair-john-surtees:before {
  background-position: -156px -64px;
}
.flair-jolyon-palmer:before {
  background-position: -156px -80px;
}
.flair-jordan:before {
  background-position: -156px -96px;
}
.flair-juan-manuel-fangio:before {
  background-position: -156px -112px;
}
.flair-juan-pablo-montoya:before {
  background-position: -156px -128px;
}
.flair-jules-bianchi:before {
  background-position: 0px -144px;
}
.flair-kamui-kobayashi:before {
  background-position: -22px -144px;
}
.flair-karun-chandhok:before {
  background-position: -44px -144px;
}
.flair-keke-rosberg:before {
  background-position: 0px -16px;
}
.flair-kevin-magnussen:before {
  background-position: -88px -144px;
}
.flair-kimi-raikkonen:before {
  background-position: -110px -144px;
}
.flair-lance-stroll:before {
  background-position: -132px -144px;
}
.flair-lando-norris:before {
  background-position: -154px -144px;
}
.flair-lella-lombardi:before {
  background-position: 0px -160px;
}
.flair-lewis-hamilton:before {
  background-position: -22px -160px;
}
.flair-life:before {
  background-position: -44px -160px;
}
.flair-ligier:before {
  background-position: -66px -160px;
}
.flair-lotus:before {
  background-position: -88px -160px;
}
.flair-manor:before {
  background-position: -110px -160px;
}
.flair-marcus-ericsson:before {
  background-position: -132px -160px;
}
.flair-mario-andretti:before {
  background-position: -154px -160px;
}
.flair-mark-webber:before {
  background-position: -178px 0px;
}
.flair-martin-brundle:before {
  background-position: -178px -16px;
}
.flair-marussia:before {
  background-position: -178px -32px;
}
.flair-maserati:before {
  background-position: -178px -48px;
}
.flair-matra:before {
  background-position: -178px -64px;
}
.flair-max-verstappen:before {
  background-position: -178px -80px;
}
.flair-mclaren:before {
  background-position: -178px -96px;
}
.flair-mercedes:before {
  background-position: -178px -112px;
}
.flair-michael-schumacher:before {
  background-position: -178px -128px;
}
.flair-mika-hakkinen:before {
  background-position: -178px -144px;
}
.flair-mike-hawthorn:before {
  background-position: -178px -160px;
}
.flair-minardi:before {
  background-position: 0px -176px;
}
.flair-nelson-piquet:before {
  background-position: -22px -176px;
}
.flair-nicholas-latifi:before {
  background-position: -44px -176px;
}
.flair-nick-heidfeld:before {
  background-position: -66px -176px;
}
.flair-nico-hulkenberg:before {
  background-position: -88px -176px;
}
.flair-nico-rosberg:before {
  background-position: -110px -176px;
}
.flair-nigel-mansell:before {
  background-position: -132px -176px;
}
.flair-niki-lauda:before {
  background-position: -154px -176px;
}
.flair-paddock-club:before {
  background-position: -154px -208px;
}
.flair-pascal-wehrlein:before {
  background-position: -200px 0px;
}
.flair-pastor-maldonado:before {
  background-position: -200px -16px;
}
.flair-phil-hill:before {
  background-position: -200px -32px;
}
.flair-pierre-gasly:before {
  background-position: -200px -48px;
}
.flair-pirelli-hard:before {
  background-position: -200px -64px;
}
.flair-pirelli-hypersoft:before {
  background-position: -200px -80px;
}
.flair-pirelli-intermediate:before {
  background-position: -200px -96px;
}
.flair-pirelli-medium:before {
  background-position: -200px -112px;
}
.flair-pirelli-soft:before {
  background-position: -200px -128px;
}
.flair-pirelli-superhard:before {
  background-position: -200px -144px;
}
.flair-pirelli-supersoft:before {
  background-position: -200px -160px;
}
.flair-pirelli-ultrasoft:before {
  background-position: -200px -176px;
}
.flair-pirelli-wet:before {
  background-position: 0px -192px;
}
.flair-red-bull:before {
  background-position: -22px -192px;
}
.flair-renault:before {
  background-position: -44px -192px;
}
.flair-robert-kubica:before {
  background-position: -66px -192px;
}
.flair-roland-ratzenberger:before {
  background-position: -88px -192px;
}
.flair-romain-grosjean:before {
  background-position: -110px -192px;
}
.flair-ronnie-peterson:before {
  background-position: -132px -192px;
}
.flair-ross-brawn:before {
  background-position: -154px -192px;
}
.flair-rubens-barrichello:before {
  background-position: -176px -192px;
}
.flair-safety-car:before {
  background-position: -198px -192px;
}
.flair-sauber:before {
  background-position: -222px 0px;
}
.flair-sebastian-buemi:before {
  background-position: -222px -16px;
}
.flair-sebastian-vettel:before {
  background-position: -222px -32px;
}
.flair-sergey-sirotkin:before {
  background-position: -222px -48px;
}
.flair-sergio-marchionne:before {
  background-position: -222px -64px;
}
.flair-sergio-perez:before {
  background-position: -222px -80px;
}
.flair-spyker:before {
  background-position: -222px -96px;
}
.flair-stirling-moss:before {
  background-position: -222px -112px;
}
.flair-stoffel-vandoorne:before {
  background-position: -222px -128px;
}
.flair-super-aguri:before {
  background-position: -222px -144px;
}
.flair-susie-wolff:before {
  background-position: -222px -160px;
}
.flair-taki-inoue:before {
  background-position: -222px -176px;
}
.flair-tatiana-calderon:before {
  background-position: -222px -192px;
}
.flair-tom-pryce:before {
  background-position: 0px -208px;
}
.flair-toro-rosso:before {
  background-position: -22px -208px;
}
.flair-toyota:before {
  background-position: -44px -208px;
}
.flair-tyrrell:before {
  background-position: -66px -208px;
}
.flair-valtteri-bottas:before {
  background-position: -88px -208px;
}
.flair-vanwall:before {
  background-position: -110px -208px;
}
.flair-will-buxton:before {
  background-position: -23px 0px;
}
.flair-williams:before {
  background-position: -132px -208px;
}
