.flair:before {
  background-image    : url(%%flairs%%);
  background-repeat   : no-repeat;
  content             : "";
  display             : inline-block;
  height              : 16px;
  margin-right        : 4px;
  vertical-align      : middle;
  width               : 22px;
  @extend .flair-aaa-default:before;
}

.flair-aaa-default:before {
  background-position: -88px -147px;
}
.flair-alain-prost:before {
  background-position: 0px -163px;
}
.flair-alan-jones:before {
  background-position: -239px -112px;
}
.flair-alberto-ascari:before {
  background-position: 0px -227px;
}
.flair-alfa-romeo:before {
  background-position: 0px -51px;
}
.flair-andrea-moda:before {
  background-position: -22px -51px;
}
.flair-antonio-giovinazzi:before {
  background-position: -44px -51px;
}
.flair-arrows:before {
  background-position: 0px -67px;
}
.flair-ayrton-senna:before {
  background-position: -22px -67px;
}
.flair-bar-honda:before {
  background-position: -44px -67px;
}
.flair-benetton:before {
  background-position: -85px 0px;
}
.flair-bernie-ecclestone:before {
  background-position: -85px -16px;
}
.flair-bmw-sauber:before {
  background-position: -85px -32px;
}
.flair-brabham:before {
  background-position: -85px -48px;
}
.flair-brawn-gp:before {
  background-position: -85px -64px;
}
.flair-brendon-hartley:before {
  background-position: 0px -83px;
}
.flair-brm:before {
  background-position: -22px -83px;
}
.flair-bruce-mclaren:before {
  background-position: -44px -83px;
}
.flair-carlos-sainz-jr:before {
  background-position: -66px -83px;
}
.flair-carmen-jorda:before {
  background-position: -107px 0px;
}
.flair-caterham:before {
  background-position: -107px -16px;
}
.flair-charles-leclerc:before {
  background-position: -107px -32px;
}
.flair-charlie-whiting:before {
  background-position: -107px -48px;
}
.flair-chase-carey:before {
  background-position: -107px -64px;
}
.flair-cooper:before {
  background-position: -107px -80px;
}
.flair-damon-hill:before {
  background-position: 0px -99px;
}
.flair-dan-gurney:before {
  background-position: -22px -99px;
}
.flair-daniel-ricciardo:before {
  background-position: -44px -99px;
}
.flair-daniil-kvyat:before {
  background-position: -66px -99px;
}
.flair-david-coulthard:before {
  background-position: -88px -99px;
}
.flair-de-tomaso:before {
  background-position: -129px 0px;
}
.flair-denny-hulme:before {
  background-position: -129px -16px;
}
.flair-desire-wilson:before {
  background-position: -129px -32px;
}
.flair-eddie-irvine:before {
  background-position: -129px -48px;
}
.flair-emerson-fittipaldi:before {
  background-position: -129px -64px;
}
.flair-esteban-ocon:before {
  background-position: -129px -80px;
}
.flair-eurobrun:before {
  background-position: -129px -96px;
}
.flair-f1-classic-logo:before {
  background-position: 0px -115px;
}
.flair-f1-logo:before {
  background-position: -22px -115px;
}
.flair-felipe-massa:before {
  background-position: -44px -115px;
}
.flair-fernando-alonso-indy500:before {
  background-position: -66px -115px;
}
.flair-fernando-alonso:before {
  background-position: -88px -115px;
}
.flair-ferrari:before {
  background-position: -110px -115px;
}
.flair-flair-team:before {
  background-position: 0px -131px;
}
.flair-force-india:before {
  background-position: -22px -131px;
}
.flair-gilles-villeneuve:before {
  background-position: -44px -131px;
}
.flair-giuseppe-farina:before {
  background-position: -66px -131px;
}
.flair-graham-hill:before {
  background-position: -88px -131px;
}
.flair-haas:before {
  background-position: -110px -131px;
}
.flair-hall-of-fame:before {
  background-position: -151px 0px;
}
.flair-heikki-kovalainen:before {
  background-position: -151px -16px;
}
.flair-hesketh:before {
  background-position: -151px -32px;
}
.flair-history-project:before {
  background-position: -151px -48px;
}
.flair-honda:before {
  background-position: -151px -64px;
}
.flair-jack-aitken:before {
  background-position: -151px -80px;
}
.flair-jack-brabham:before {
  background-position: -151px -96px;
}
.flair-jackie-stewart:before {
  background-position: -151px -112px;
}
.flair-jacques-villeneuve:before {
  background-position: -151px -128px;
}
.flair-jaguar:before {
  background-position: 0px -147px;
}
.flair-james-hunt:before {
  background-position: -22px -147px;
}
.flair-jean-alesi:before {
  background-position: -44px -147px;
}
.flair-jean-pierre-jabouille:before {
  background-position: -66px -147px;
}
.flair-jean-todt:before {
  background-position: 0px -35px;
}
.flair-jenson-button:before {
  background-position: -110px -147px;
}
.flair-jim-clark:before {
  background-position: -132px -147px;
}
.flair-jochen-rindt:before {
  background-position: -173px 0px;
}
.flair-jody-scheckter:before {
  background-position: -173px -16px;
}
.flair-john-surtees:before {
  background-position: -173px -32px;
}
.flair-jolyon-palmer:before {
  background-position: -173px -48px;
}
.flair-jordan:before {
  background-position: -173px -64px;
}
.flair-juan-manuel-fangio:before {
  background-position: -173px -80px;
}
.flair-juan-pablo-montoya:before {
  background-position: -173px -96px;
}
.flair-jules-bianchi:before {
  background-position: -173px -112px;
}
.flair-kamui-kobayashi:before {
  background-position: -173px -128px;
}
.flair-karun-chandhok:before {
  background-position: -173px -144px;
}
.flair-keke-rosberg:before {
  background-position: -46px -35px;
}
.flair-kevin-magnussen:before {
  background-position: -22px -163px;
}
.flair-kimi-raikkonen:before {
  background-position: -44px -163px;
}
.flair-lance-stroll:before {
  background-position: -66px -163px;
}
.flair-lando-norris:before {
  background-position: -88px -163px;
}
.flair-lella-lombardi:before {
  background-position: -110px -163px;
}
.flair-lewis-hamilton:before {
  background-position: -132px -163px;
}
.flair-life:before {
  background-position: -154px -163px;
}
.flair-ligier:before {
  background-position: 0px -179px;
}
.flair-lotus:before {
  background-position: -22px -179px;
}
.flair-manor:before {
  background-position: -44px -179px;
}
.flair-marcus-ericsson:before {
  background-position: -66px -179px;
}
.flair-mario-andretti:before {
  background-position: -88px -179px;
}
.flair-mark-webber:before {
  background-position: -110px -179px;
}
.flair-martin-brundle:before {
  background-position: -132px -179px;
}
.flair-marussia:before {
  background-position: -154px -179px;
}
.flair-maserati:before {
  background-position: -195px 0px;
}
.flair-matra:before {
  background-position: -195px -16px;
}
.flair-max-verstappen:before {
  background-position: -195px -32px;
}
.flair-mclaren:before {
  background-position: -195px -48px;
}
.flair-mercedes:before {
  background-position: -195px -64px;
}
.flair-michael-schumacher:before {
  background-position: -195px -80px;
}
.flair-mika-hakkinen:before {
  background-position: -195px -96px;
}
.flair-mike-hawthorn:before {
  background-position: -195px -112px;
}
.flair-minardi:before {
  background-position: -195px -128px;
}
.flair-nelson-piquet:before {
  background-position: -195px -144px;
}
.flair-nicholas-latifi:before {
  background-position: -195px -160px;
}
.flair-nick-heidfeld:before {
  background-position: -195px -176px;
}
.flair-nico-hulkenberg:before {
  background-position: 0px -195px;
}
.flair-nico-rosberg:before {
  background-position: -22px -195px;
}
.flair-nigel-mansell:before {
  background-position: -44px -195px;
}
.flair-niki-lauda:before {
  background-position: -66px -195px;
}
.flair-pascal-wehrlein:before {
  background-position: -88px -195px;
}
.flair-pastor-maldonado:before {
  background-position: -110px -195px;
}
.flair-phil-hill:before {
  background-position: -132px -195px;
}
.flair-pierre-gasly:before {
  background-position: -154px -195px;
}
.flair-pirelli-hard:before {
  background-position: -176px -195px;
}
.flair-pirelli-hypersoft:before {
  background-position: -217px 0px;
}
.flair-pirelli-intermediate:before {
  background-position: -217px -16px;
}
.flair-pirelli-medium:before {
  background-position: -217px -32px;
}
.flair-pirelli-soft:before {
  background-position: -217px -48px;
}
.flair-pirelli-superhard:before {
  background-position: -217px -64px;
}
.flair-pirelli-supersoft:before {
  background-position: -217px -80px;
}
.flair-pirelli-ultrasoft:before {
  background-position: -217px -96px;
}
.flair-pirelli-wet:before {
  background-position: -217px -112px;
}
.flair-red-bull:before {
  background-position: -217px -128px;
}
.flair-renault:before {
  background-position: -217px -144px;
}
.flair-robert-kubica:before {
  background-position: -217px -160px;
}
.flair-roland-ratzenberger:before {
  background-position: -217px -176px;
}
.flair-romain-grosjean:before {
  background-position: -217px -192px;
}
.flair-ronnie-peterson:before {
  background-position: 0px -211px;
}
.flair-ross-brawn:before {
  background-position: -22px -211px;
}
.flair-rubens-barrichello:before {
  background-position: -44px -211px;
}
.flair-safety-car:before {
  background-position: -66px -211px;
}
.flair-sauber:before {
  background-position: -88px -211px;
}
.flair-sebastian-buemi:before {
  background-position: -110px -211px;
}
.flair-sebastian-vettel:before {
  background-position: -132px -211px;
}
.flair-sergey-sirotkin:before {
  background-position: -154px -211px;
}
.flair-sergio-marchionne:before {
  background-position: -176px -211px;
}
.flair-sergio-perez:before {
  background-position: -198px -211px;
}
.flair-spyker:before {
  background-position: -239px 0px;
}
.flair-stirling-moss:before {
  background-position: -239px -16px;
}
.flair-stoffel-vandoorne:before {
  background-position: -239px -32px;
}
.flair-super-aguri:before {
  background-position: -239px -48px;
}
.flair-susie-wolff:before {
  background-position: -239px -64px;
}
.flair-taki-inoue:before {
  background-position: -239px -80px;
}
.flair-tatiana-calderon:before {
  background-position: -239px -96px;
}
.flair-tatra-taki-inoue:before {
  background-position: 0px 0px;
}
.flair-tom-pryce:before {
  background-position: -239px -128px;
}
.flair-toro-rosso:before {
  background-position: -239px -144px;
}
.flair-toyota:before {
  background-position: -239px -160px;
}
.flair-tyrrell:before {
  background-position: -239px -176px;
}
.flair-valtteri-bottas:before {
  background-position: -239px -192px;
}
.flair-vanwall:before {
  background-position: -239px -208px;
}
.flair-will-buxton:before {
  background-position: -23px -35px;
}
.flair-williams:before {
  background-position: -22px -227px;
}
