a[href="https://old.reddit.com/user/BottasWMR"]:after,
a[href="https://www.reddit.com/user/BottasWMR"]:after,
a[href="https://old.reddit.com/user/ChrisMedland"]:after,
a[href="https://www.reddit.com/user/ChrisMedland"]:after,
a[href="https://old.reddit.com/user/CircuitofTheAmericas"]:after,
a[href="https://www.reddit.com/user/CircuitofTheAmericas"]:after,
a[href="https://old.reddit.com/user/F1_Research"]:after,
a[href="https://www.reddit.com/user/F1_Research"]:after,
a[href="https://old.reddit.com/user/ForceIndiaF1"]:after,
a[href="https://www.reddit.com/user/ForceIndiaF1"]:after,
a[href="https://old.reddit.com/user/Gianlu27"]:after,
a[href="https://www.reddit.com/user/Gianlu27"]:after,
a[href="https://old.reddit.com/user/HaasF1TeamAJ"]:after,
a[href="https://www.reddit.com/user/HaasF1TeamAJ"]:after,
a[href="https://old.reddit.com/user/landonorris"]:after,
a[href="https://www.reddit.com/user/landonorris"]:after,
a[href="https://old.reddit.com/user/SauberF1Team"]:after,
a[href="https://www.reddit.com/user/SauberF1Team"]:after,
a[href="https://old.reddit.com/user/willbuxton"]:after,
a[href="https://www.reddit.com/user/willbuxton"]:after,
a[href="https://old.reddit.com/user/Mercedes-AMGF1"]:after,
a[href="https://www.reddit.com/user/Mercedes-AMGF1"]:after,
a[href="https://old.reddit.com/user/F1-Official"]:after,
a[href="https://www.reddit.com/user/F1-Official"]:after,
a[href="https://old.reddit.com/user/F1TaggingTeam"]:after,
a[href="https://www.reddit.com/user/F1TaggingTeam"]:after,
a[href="https://old.reddit.com/user/CEASquadraCorse"]:after,
a[href="https://www.reddit.com/user/CEASquadraCorse"]:after,
a[href="https://old.reddit.com/user/ausgp"]:after,
a[href="https://www.reddit.com/user/ausgp"]:after,
a[href="https://old.reddit.com/user/ThePlayersTribune"]:after,
a[href="https://www.reddit.com/user/ThePlayersTribune"]:after,
a[href="https://old.reddit.com/user/LukeSmithF1"]:after,
a[href="https://www.reddit.com/user/LukeSmithF1"]:after,
a[href="https://old.reddit.com/user/WilliamsRacing"]:after,
a[href="https://www.reddit.com/user/WilliamsRacing"]:after,
a[href="https://old.reddit.com/user/ToroRossoOfficial"]:after,
a[href="https://www.reddit.com/user/ToroRossoOfficial"]:after,
a[href="https://old.reddit.com/user/RandeepSinghF1"]:after,
a[href="https://www.reddit.com/user/RandeepSinghF1"]:after {
  background     : #ccc;
  border-radius  : 3px;
  color          : #737373;
  display        : inline-block;
  font-size      : 9px;
  font-weight    : 400;
  margin-left    : 5px;
  padding        : 3px;
  text-transform : uppercase;
}

a[href="https://old.reddit.com/user/ChrisMedland"]:after,
a[href="https://www.reddit.com/user/ChrisMedland"]:after,
a[href="https://old.reddit.com/user/CircuitofTheAmericas"]:after,
a[href="https://www.reddit.com/user/CircuitofTheAmericas"]:after,
a[href="https://old.reddit.com/user/F1_Research"]:after,
a[href="https://www.reddit.com/user/F1_Research"]:after,
a[href="https://old.reddit.com/user/ForceIndiaF1"]:after,
a[href="https://www.reddit.com/user/ForceIndiaF1"]:after,
a[href="https://old.reddit.com/user/Gianlu27"]:after,
a[href="https://www.reddit.com/user/Gianlu27"]:after,
a[href="https://old.reddit.com/user/HaasF1TeamAJ"]:after,
a[href="https://www.reddit.com/user/HaasF1TeamAJ"]:after,
a[href="https://old.reddit.com/user/landonorris"]:after,
a[href="https://www.reddit.com/user/landonorris"]:after,
a[href="https://old.reddit.com/user/SauberF1Team"]:after,
a[href="https://www.reddit.com/user/SauberF1Team"]:after,
a[href="https://old.reddit.com/user/willbuxton"]:after,
a[href="https://www.reddit.com/user/willbuxton"]:after,
a[href="https://old.reddit.com/user/Mercedes-AMGF1"]:after,
a[href="https://www.reddit.com/user/Mercedes-AMGF1"]:after,
a[href="https://old.reddit.com/user/F1-Official"]:after,
a[href="https://www.reddit.com/user/F1-Official"]:after,
a[href="https://old.reddit.com/user/F1TaggingTeam"]:after,
a[href="https://www.reddit.com/user/F1TaggingTeam"]:after,
a[href="https://old.reddit.com/user/CEASquadraCorse"]:after,
a[href="https://www.reddit.com/user/CEASquadraCorse"]:after,
a[href="https://old.reddit.com/user/ausgp"]:after,
a[href="https://www.reddit.com/user/ausgp"]:after,
a[href="https://old.reddit.com/user/ThePlayersTribune"]:after,
a[href="https://www.reddit.com/user/ThePlayersTribune"]:after,
a[href="https://old.reddit.com/user/LukeSmithF1"]:after,
a[href="https://www.reddit.com/user/LukeSmithF1"]:after,
a[href="https://old.reddit.com/user/WilliamsRacing"]:after,
a[href="https://www.reddit.com/user/WilliamsRacing"]:after,
a[href="https://old.reddit.com/user/ToroRossoOfficial"]:after,
a[href="https://www.reddit.com/user/ToroRossoOfficial"]:after,
  a[href="https://old.reddit.com/user/RandeepSinghF1"]:after,
  a[href="https://www.reddit.com/user/RandeepSinghF1"]:after {
  content : "Verified Account";
}

a[href="https://old.reddit.com/user/BottasWMR"]:after {
  content : "Hall of Fame";
}

a[href="https://old.reddit.com/user/BottasWMR"] {
  color       : #ff7d4d;
  font-weight : 700;
}
