// Variables
@import 'variables/colors';

// Extends
@import 'extends/display';

// Converted stuff
@import 'modules/header';
@import 'modules/sidebar';
@import 'modules/frontpage';
@import 'modules/posts';
@import 'modules/flairs';
@import 'modules/rules';
@import 'modules/wiki';

body, html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: black;
  background-image: linear-gradient(to bottom right,transparent 0,transparent 62%,#8bc63e);
  background-position: bottom right;
  background-attachment: fixed;
}

.content {
  margin-top: 5px;
}

a {
  color: $green;
}
