.commentarea h1,
.commentarea h2,
.commentarea h3,
.commentarea h4,
.commentarea h5,
.commentarea h6 {
  font-size   : 10pt !important;
  font-weight : 400;
}

#header,
#header-bottom-right,
#sr-header-area {
  background    : 0 0;
  border        : 0;
  border-radius : 0;
}

.post-linkflair-post-qualifying .linkflair .md table .keyNavAnnotation,
.post-linkflair-post-race .linkflair .md table .keyNavAnnotation,
.post-linkflair-practice .linkflair .md table .keyNavAnnotation,
.post-linkflair-qualifying .linkflair .md table .keyNavAnnotation,
.post-linkflair-race .linkflair .md table .keyNavAnnotation,
.bottom,
.side .leavecontributor-button,
.side .leavemoderator,
.side .submit-text,
.sidebox.create,
.submit .morelink .nub,
h1.redditname {
  display : none;
}

body {
  background : url(%%tile%%) #f1f1f1;
  position   : relative;
}

.res-nightmode {
  background-color : #444;
  background-image : none;
}

.side blockquote blockquote {
  border  : 0;
  margin  : 0;
  padding : 0;
}

#userbarToggle {
  background    : 0 0 !important;
  border-radius : 0 !important;
  border-right  : 1px solid #ccc !important;
  color         : #000;
  height        : 18px !important;
  left          : -13px !important;
  line-height   : 22px !important;
  padding-right : 5px !important;
  top           : 2px !important;
}

.dropdown.srdrop .selected {
  color : #f1f1f1;
}

#sr-header-area .drop-choices.srdrop {
  background   : #2d2d2d;
  border-color : #2d2d2d;
  z-index      : 1000;
}

.drop-choices a.choice:hover {
  color : #000 !important;
}

div.content {
  background : #fff;
  margin     : 60px 331px 10px 10px;
  padding    : 20px;
}

.comments-page div.content,
.listing-page div.content {
  background : 0 0;
  padding    : 0;
  position   : relative;
}

.linklisting .thing.even {
  background-color : #F8F8F8;
}

.res-nightmode .linklisting .thing.even {
  background-color : #222;
}

.linklisting .thing {
  background    : #FCFCFC;
  border-left   : 3px solid #ccc;
  box-shadow    : 0 0 1px #E7E7E7;
  margin-bottom : 1px;
  padding       : 8px;
  position      : relative;
}

.res-nightmode .linklisting .thing {
  border-color : #000;
}

.listing-page .entry {
  padding-left : 5px;
}

.link.last-clicked {
  border-bottom : 0;
  border-right  : 0 none;
  border-top    : 0;
}

.linklisting .thing.stickied {
  border-bottom : 0;
  border-left   : 5px solid #5cb85c;
  border-right  : 0;
  border-top    : 0;
}

.linklisting .stickied .entry a.title {
  color       : #282 !important;
  font-weight : 400;
  width       : inherit;
}

.link .usertext .md,
.listing-page .expando .md {
  background-color : #fff;
  border-bottom    : 0!important;
  border-left      : 0;
  border-radius    : 0;
  border-right     : 0;
  border-top       : 1px dotted #ccc;
  line-height      : 1.4;
  padding          : 10px;
}

.comments-page .link .usertext .md {
  border-bottom : 1px dotted #ccc;
}

.listing-page .thing:hover .expando .md {
  background : #fafafa;
}

.linkinfo .date {
  background    : #fff;
  border-bottom : 1px solid #f1f1f1;
  margin        : -5px -5px 5px;
  padding       : 8px;
  text-align    : center;
}

.linkinfo .score {
  background    : #F9F9F9;
  border-bottom : 1px solid #f0f0f0;
  margin        : -5px -5px 5px;
  padding       : 10px 10px 20px;
  text-align    : center;
}

.linkinfo span.totalvotes {
  display    : block;
  margin     : -25px 0 15px;
  text-align : center;
  width      : 100%;
}

.linkinfo .shortlink {
  padding    : 0 5px 4px;
  text-align : center;
}

.linkinfo span.number,
.linkinfo span.word {
  color : #4c4c4c;
}

.linkinfo {
  background-color : #F4F4F4;
}

.comments-page div.content {
  background : 0 0;
  padding    : 0;
}

.comments-page .commentarea {
  margin-top : 5px;
  padding    : 0;
}

.comments-page .sitetable {
  background : #fff;
}

.comments-page .commentarea .sitetable {
  background  : 0 0;
  border-left : 0 none;
  margin-top  : 15px;
}

.commentarea > .usertext {
  background : #fff;
  margin     : 0;
  overflow   : auto;
  padding    : 0 20px;
}

.commentarea .menuarea {
  background : #fff;
  border     : none;
  color      : gray;
  margin     : 0;
  padding    : 10px 20px 0;
}

.panestack-title {
  background    : #fff;
  border-bottom : 1px dotted gray;
  margin        : 0;
  padding       : 10px 20px;
}

#noresults {
  font-weight : 700;
  padding     : 10px 0;
  text-align  : center;
  text-shadow : 0 1px 0 #fff;
  width       : 100%;
}

.comment .child {
  border-left : 0 none;
}

.res .commentarea .thing {
  border-bottom : 0 !important;
  border-right  : 0 !important;
  border-top    : 0 !important;
  margin-left   : 0 !important;
  margin-right  : 0 !important;
}

.commentarea .thing {
  background    : #fff;
  border-bottom : medium none;
  border-left   : 3px #ccc solid !important;
  border-right  : medium none;
  border-top    : medium none;
  margin        : 0 0 3px;
  padding       : 5px;
}

.commentarea > .thing {
  box-shadow : 0 0 1px #e3e3e3;
}

.commentarea .thing .entry {
  padding : 3px 5px 0;
}

.usertext.grayed .usertext-body {
  margin-top : 10px;
}

.thing .morerecursion {
  margin-bottom : 10px;
}

.commentarea .child .thing {
  background  : #f7f7f7;
  border      : none;
  border-left : 2px #e3e3e3 solid !important;
  padding     : 5px 5px 2px 4px;
}

.commentarea .child .thing .child .thing {
  background  : #fff;
  border      : none;
  border-left : 1px #ccc solid !important;
}

.commentarea .child .thing .child .thing .child .thing,
.commentarea .child .thing .child .thing .child .thing .child .thing .child .thing,
.commentarea .child .thing .child .thing .child .thing .child .thing .child .thing .child .thing .child .thing,
.commentarea .child .thing .child .thing .child .thing .child .thing .child .thing .child .thing .child .thing .child .thing .child .thing {
  background : #f7f7f7;
}

.commentarea .child .thing .child .thing .child .thing .child .thing,
.commentarea .child .thing .child .thing .child .thing .child .thing .child .thing .child .thing,
.commentarea .child .thing .child .thing .child .thing .child .thing .child .thing .child .thing .child .thing .child .thing {
  background : #fff;
}

.commentarea .thing.spam {
  background-color : salmon !important;
}

.side {
  background    : #ededed;
  border-bottom : 1px solid #f4f4f4;
  border-left   : 1px solid #d6d6d6;
  margin        : 0;
  padding       : 452px 10px 10px;
}

.res-nightmode .side {
  background   : #171717;
  border-color : #000;
}

.listing-page .side {
  padding-top : 740px;
}

.titlebox .md > ul:nth-of-type(3):hover {
  height   : 595px;
  overflow : visible;
  z-index  : 10000;
}

.titlebox .md blockquote {
  border  : 0;
  margin  : 0;
  padding : 0;
}

.side .spacer {
  background    : #fff;
  border-radius : 3px;
}

.res-nightmode .side .spacer {
  background : #222;
}

.side .spacer > div {
  border        : 1px solid #e2e2e2;
  border-radius : 3px;
}

.res-nightmode .side .spacer > div {
  border-color : #000;
}

.side .spacer > div.sponsorshipbox {
  border : 0;
}

.spacer .titlebox,
.sidecontentbox {
  padding : 12px;
}

.sidecontentbox .title {
  margin-bottom : 10px;
}

.sidecontentbox .title h1 {
  color       : #000;
  font-weight : 900;
}

.res-nightmode .sidecontentbox .title h1 {
  border : 0;
  color  : #ccc;
}

#moderation_tools span.collapse-button {
  position : absolute;
  right    : 14px;
}

.sidecontentbox .content {
  background : #fff;
  border     : 0;
  border-top : 1px solid #ededed;
}

.res-nightmode .sidecontentbox .content {
  background-color : #222;
  border-color     : #000;
}

.side .spacer:last-of-type {
  margin-bottom  : 0;
  padding-bottom : 0;
}

.account-activity-box {
  border-top : 10px solid #ededed;
  margin-top : -2px;
  padding    : 10px 0;
}

.titlebox .md {
  border-top : 2px solid #ebebeb;
  font-size  : 100%;
  margin     : 12px 9px -23px;
}

.side .usertext-body {
  margin : 0 -22px;
}

.titlebox .md > p {
  border-bottom : 10px solid #ededed;
  margin-bottom : 0;
  padding       : 0 10px 10px;
}

.res-nightmode .titlebox .md > p {
  border-color : #171717;
}

.titlebox .md > h1 {
  background     : #fff;
  border-bottom  : 1px solid #e2e2e2;
  border-top     : 1px solid #e2e2e2;
  color          : #2C2C2C;
  font-family    : verdana, arial, helvetica, sans-serif;
  font-size      : 10pt;
  font-weight    : 900;
  margin         : 0 1px;
  padding        : 10px 10px 8px;
  text-transform : uppercase;
}

.res-nightmode .titlebox .md > h1 {
  background-color : #222;
  border-color     : #000;
  color            : #ccc;
}

.res-nightmode .titlebox .md {
  border-color : #171717;
}

.titlebox .md > ul:nth-of-type(3) > li:nth-of-type(1):before {
  background : url(%%race-pic%%) no-repeat;
  content    : "";
  display    : block;
  height     : 200px;
  margin     : -10px -10px 10px;
  width      : 300px;
}

.titlebox .md > ul:nth-of-type(3) ul {
  list-style-type : none;
  margin          : 0;
  padding         : 0;
}

.listing-page .titlebox .md > ul:nth-of-type(3) {
  border-bottom : 1px solid #3c3c3c;
  height        : auto;
  overflow      : visible;
}

.titlebox .md > ul:nth-of-type(3) > li:first-of-type {
  background     : url(%%chequered%%) -60px 224px no-repeat #222;
  border         : 0;
  color          : #fff;
  font-size      : 12pt;
  font-weight    : 900;
  margin         : 0;
  padding        : 10px;
  text-align     : left;
  text-transform : uppercase;
}

.titlebox .md > ul:nth-of-type(3) > li:first-of-type li {
  font-size      : 14px !important;
  font-weight    : 400;
  padding-top    : 4px;
  text-transform : none;
}

.titlebox .md > ul:nth-of-type(3) > li {
  background : #222;
  color      : #fff;
  margin     : 1px 0;
}

.titlebox .md > ul:nth-of-type(3) > li > p {
  color       : #b9b9b9;
  cursor      : pointer;
  font-size   : 10pt !important;
  margin      : 0;
  padding     : 10px;
  text-indent : 25px;
}

.titlebox .md > ul:nth-of-type(3) > li:first-of-type li:last-of-type {
  background      : #3C3C3C;
  font-size       : 15px !important;
  font-weight     : 100;
  height          : 30px;
  line-height     : 30px;
  list-style-type : none;
  margin-top      : 10px;
  padding         : 0;
  position        : relative;
  text-align      : center;
  text-shadow     : 1px 1px 0 #171717;
}

.titlebox .md > ul:nth-of-type(3) > li:first-of-type li:last-of-type strong {
  font-weight : 400;
}

.titlebox .md > ul:nth-of-type(3) > li:hover > p {
  color       : #fff;
  text-indent : 25px;
}

.titlebox .md > ul:nth-of-type(3) > li > p:before {
  background : url(%%sprite%%) 0 -17px no-repeat;
  content    : "";
  display    : block;
  height     : 18px;
  margin-top : -2px;
  position   : absolute;
  width      : 18px;
}

.titlebox .md > ul:nth-of-type(3) > li:first-of-type:after {
  color           : #818181;
  content         : "- hover over this box for race guide & standings -";
  display         : block;
  font-size       : 10px;
  font-weight     : 100;
  margin-top      : 2px;
  text-align      : center;
  text-decoration : none;
  text-transform  : none;
}

.listing-page .titlebox .md > ul:nth-of-type(3) > li:first-of-type:after,
.titlebox .md > ul:nth-of-type(3):hover > li:first-of-type:after {
  display : none;
}

.titlebox .md > ul:nth-of-type(3) > li:nth-of-type(2) > p:before {
  background-position : -17px -17px;
}

.titlebox .md > ul:nth-of-type(3) > li:nth-of-type(2):hover > p:before {
  background-position : -17px 0;
}

.titlebox .md > ul:nth-of-type(3) > li:nth-of-type(3) > p:before {
  background-position : 0 -17px;
}

.titlebox .md > ul:nth-of-type(3) > li:nth-of-type(3):hover > p:before {
  background-position : 0 0;
}

.titlebox .md > ul:nth-of-type(3) > li:nth-of-type(4) > p:before {
  background-position : -70px -17px;
}

.titlebox .md > ul:nth-of-type(3) > li:nth-of-type(4):hover > p:before {
  background-position : -70px 0;
}

.titlebox .md > ul:nth-of-type(3) > li:nth-of-type(5) > p:before {
  background-position : -34px -17px;
}

.titlebox .md > ul:nth-of-type(3) > li:nth-of-type(5):hover > p:before {
  background-position : -34px 0;
}

.titlebox .md > ul:nth-of-type(3) > li:nth-of-type(7) > p:before,
.titlebox .md > ul:nth-of-type(3) > li:nth-of-type(8) > p:before {
  background-position : -52px -17px;
}

.titlebox .md > ul:nth-of-type(3) > li:nth-of-type(7):hover > p:before,
.titlebox .md > ul:nth-of-type(3) > li:nth-of-type(8):hover > p:before {
  background-position : -52px 0;
}

.titlebox .md > ul:nth-of-type(3) > li:nth-of-type(2):hover:before,
.titlebox .md > ul:nth-of-type(3) > li:nth-of-type(3):hover:before,
.titlebox .md > ul:nth-of-type(3) > li:nth-of-type(4):hover:before,
.titlebox .md > ul:nth-of-type(3) > li:nth-of-type(5):hover:before,
.titlebox .md > ul:nth-of-type(3) > li:nth-of-type(6):hover:before,
.titlebox .md > ul:nth-of-type(3) > li:nth-of-type(7):hover:before,
.titlebox .md > ul:nth-of-type(3) > li:nth-of-type(8):hover:before {
  background : #f1f1f1;
  content    : "";
  display    : block;
  height     : 10px;
  left       : -5px;
  margin-top : 12px;
  position   : absolute;
  transform  : rotate(45deg);
  width      : 10px;
  z-index    : 101;
}

.titlebox .md > ul:nth-of-type(3) > li > blockquote {
  background : #f1f1f1;
  border     : 1px solid #CCC;
  color      : #000;
  display    : none;
  min-height : 322px;
  opacity    : 0;
  padding    : 8px;
  position   : absolute;
  right      : -9999pt;
  top        : 200px;
  transition : opacity .4s ease-out;
  width      : 325px;
  z-index    : 100;
}

.titlebox .md > ul:nth-of-type(3) > li:hover blockquote {
  display : block;
  opacity : 1;
  right   : 300px;
}

.titlebox .md > ul:nth-of-type(3) > li:nth-of-type(4) > blockquote {
  width : 500px;
}

.titlebox .md > ul:nth-of-type(3) > li > blockquote p {
  margin  : 10px 0 -10px;
  padding : 5px;
}

.titlebox .md > ul:nth-of-type(2) {
  margin   : 0;
  padding  : 0;
  position : absolute;
  right    : 335px;
  top      : 190px;
}

.titlebox .md > ul:nth-of-type(2) > li {
  background       : -moz-linear-gradient(top, #C20306, #B00000);
  background       : -ms-linear-gradient(top, #C20306, #B00000);
  background       : -o-linear-gradient(top, #C20306, #B00000);
  background-color : #B00000;
  background-image : -webkit-linear-gradient(top, #C20306, #B00000);
  border-color     : #C50000;
  color            : #fff;
  cursor           : pointer;
  display          : block;
  font-size        : 10px;
  font-weight      : 900;
  padding          : 10px 30px 10px 10px;
  text-transform   : uppercase;
}

.titlebox .md > ul:nth-of-type(2) > li:hover ul {
  display : block;
}

.titlebox .md > ul:nth-of-type(2) > li ul {
  background      : #f2f2f2;
  border-left     : 1px solid #ddd;
  border-right    : 1px solid #ddd;
  color           : #000;
  display         : none;
  font-size       : 100%;
  list-style-type : none;
  margin          : 0;
  padding         : 0;
  position        : absolute;
  right           : -1px;
  text-align      : left;
  top             : 32px;
  width           : 100%;
  z-index         : 1001;
}

.titlebox .md > ul:nth-of-type(2) > li ul li {
  border-bottom  : 0 solid #fff;
  border-right   : 0 solid #fff;
  cursor         : default;
  font-size      : 13px;
  font-weight    : 400;
  padding        : 0 8px;
  text-transform : none;
}

.titlebox .md > ul:nth-of-type(2) > li:after {
  border-bottom : 4px solid transparent;
  border-left   : 6px solid #fff;
  border-top    : 4px solid transparent;
  box-shadow    : -1px 0 0 #A00000;
  content       : "";
  display       : block;
  height        : 0;
  position      : absolute;
  right         : 11px;
  top           : 12px;
  width         : 0;
}

.titlebox .md > ul:nth-of-type(2) > li:hover:after {
  transform : rotate(90deg);
}

.titlebox .md > ul:nth-of-type(2) > li ul li a {
  border-bottom : 1px dotted #ccc;
  color         : #222;
  display       : block;
  font-size     : 8pt;
  padding       : 8px;
}

form.toggle.flairtoggle {
  background : #eef3f4;
  border-top : 1px solid #DFDFDF;
  margin     : 10px -11px;
  padding    : 10px;
}

.titlebox .tagline {
  background    : #eef3f4;
  border-bottom : 1px solid #E7E7E7;
  display       : block;
  margin        : -10px -11px 0 !important;
  padding       : 0 11px 11px;
  text-align    : center;
  width         : 100%;
}

.side #search {
  position : absolute;
  right    : 10px;
  top      : 188px;
  z-index  : 2;
}

#search input[type=text] {
  border-color : silver;
  height       : 32px;
}

.post-linkflair-post-qualifying .linkflair .md hr,
.post-linkflair-post-race .linkflair .md hr,
.post-linkflair-practice .linkflair .md hr,
.post-linkflair-qualifying .linkflair .md hr,
.post-linkflair-race .linkflair .md hr {
  background : #ccc;
  border     : 0;
  height     : 1px;
  margin     : 15px 0;
}

.post-linkflair-hub .linkflair .md h3,
.post-linkflair-post-qualifying .linkflair .md h3,
.post-linkflair-post-race .linkflair .md h3,
.post-linkflair-practice .linkflair .md h3,
.post-linkflair-qualifying .linkflair .md h3,
.post-linkflair-race .linkflair .md h3 {
  font-size     : 14pt;
  margin-bottom : 10px;
  text-align    : center;
}

.post-linkflair-hub .linkflair .md h4,
.post-linkflair-post-qualifying .linkflair .md h4,
.post-linkflair-post-race .linkflair .md h4,
.post-linkflair-practice .linkflair .md h4,
.post-linkflair-qualifying .linkflair .md h4,
.post-linkflair-race .linkflair .md h4 {
  font-size     : 12pt;
  margin-bottom : 10px;
}

.post-linkflair-hub .linkflair .md table:nth-of-type(1),
.post-linkflair-post-qualifying .linkflair .md table:nth-of-type(1),
.post-linkflair-post-race .linkflair .md table:nth-of-type(1),
.post-linkflair-practice .linkflair .md table:nth-of-type(1),
.post-linkflair-qualifying .linkflair .md table:nth-of-type(1),
.post-linkflair-race .linkflair .md table:nth-of-type(1) {
  margin : 0 auto 10px;
  width  : 60%;
}

.post-linkflair-post-qualifying .linkflair .md table:nth-of-type(2),
.post-linkflair-post-race .linkflair .md table:nth-of-type(2),
.post-linkflair-practice .linkflair .md table:nth-of-type(2),
.post-linkflair-qualifying .linkflair .md table:nth-of-type(2),
.post-linkflair-race .linkflair .md table:nth-of-type(2) {
  margin : 0 auto 10px;
  width  : 40%;
}

.post-linkflair-post-qualifying .linkflair .md table th,
.post-linkflair-post-race .linkflair .md table th,
.post-linkflair-practice .linkflair .md table th,
.post-linkflair-qualifying .linkflair .md table th,
.post-linkflair-race .linkflair .md table th {
  border-bottom : 1px solid #525252;
  border-left   : none;
  border-right  : 1px solid #525252;
  border-top    : none;
}

.linkflair .md table tr:nth-of-type(even) {
  background : #f6f6f6;
}

.linkflair .md table tr {
  background : #f9f9f9;
}

.linkflair .md table tr:hover {
  background : #fff;
}

.res-nightmode .linkflair .md table th {
  border : 1px solid #000;
}

.res-nightmode .linkflair .md table tr:nth-of-type(even) {
  background : #222;
}

.res-nightmode .linkflair .md table tr {
  background : #393939;
}

.res-nightmode .linkflair .md table tr:hover {
  background : #2e2e2e;
}

.res-nightmode .linkflair .md table td {
  border-color : #000;
}

.linkflair .md table:hover tr {
  display : table-row;
}

.linkflair .md table th {
  background : #000;
  color      : #fff;
  padding    : 5px;
}

.linkflair .md table td {
  padding : 5px;
}

.linkflair .md table a {
  top : 1px;
}

.post-linkflair-qualifying .linkflair .md p:first-child,
.post-linkflair-race .linkflair .md p:first-child {
  text-align : center;
}

.linkflair-qualifying .md table span.keyNavAnnotation,
.linkflair-race .md table span.keyNavAnnotation {
  display : none !important;
}

.linkflair-qualifying .md table:nth-of-type(2) tr td,
.linkflair-qualifying .md table:nth-of-type(2) tr th,
.linkflair-race .md table:nth-of-type(2) tr td,
.linkflair-race .md table:nth-of-type(2) tr th {
  text-align : center;
  width      : 50%;
}

.linkflair-qualifying .md table:nth-of-type(2) tr td:nth-of-type(2),
.linkflair-race .md table:nth-of-type(2) tr td:nth-of-type(2) {
  width : 115px;
}

.linkflair-qualifying .md table:nth-of-type(2) tr td:nth-of-type(5),
.linkflair-qualifying .md table:nth-of-type(2) tr td:nth-of-type(6),
.linkflair-qualifying .md table:nth-of-type(2) tr td:nth-of-type(7),
.linkflair-qualifying .md table:nth-of-type(2) tr th:nth-of-type(5),
.linkflair-qualifying .md table:nth-of-type(2) tr th:nth-of-type(6),
.linkflair-qualifying .md table:nth-of-type(2) tr th:nth-of-type(7) {
  text-align : center;
  width      : 60px;
}

div.titlebox > div:nth-of-type(1) {
  padding-bottom : 2px;
}

.titlebox .subButtons {
  padding : 10px 0 5px;
}

.RESshortcut.RESshortcutside,
.RESshortcut.RESshortcutside.remove,
.REStoggle.RESDashboardToggle,
.REStoggle.RESDashboardToggle.remove,
.fancy-toggle-button .active {
  display     : inline-block !important;
  line-height : 1 !important;
  margin      : 0 5px 0 0 !important;
  padding     : 4px 8px !important;
  width       : auto !important;
}

.RESshortcutside.remove,
.REStoggle.remove,
.fancy-toggle-button .remove {
  background-color : #d9534f !important;
  background-image : none !important;
  border-color     : #d43f3a !important;
  color            : #fff !important;
}

.RESshortcutside,
.REStoggle {
  background-color : #5cb85c;
  background-image : none !important;
  border-color     : #4cae4c !important;
  color            : #fff;
}

.side .spacer .submit-link {
  position : absolute;
  right    : 10px;
  top      : 230px;
  width    : 298px;
}

.submit-link .morelink {
  background          : -moz-linear-gradient(top, #C20306, #B00000);
  background          : -ms-linear-gradient(top, #C20306, #B00000);
  background          : -o-linear-gradient(top, #C20306, #B00000);
  background-color    : #B00000;
  background-image    : -webkit-linear-gradient(top, #C20306, #B00000);
  background-position : 0 0;
  border-color        : #C50000;
  color               : #fff;
  height              : 32px;
  line-height         : 32px;
  text-shadow         : 0 1px 0 #5C0000;
  text-transform      : uppercase;
}

.submit-link .morelink a {
  color          : #fff;
  font-size      : 16px;
  font-weight    : 900;
  letter-spacing : .5px;
}

#mail.havemail,
#mail.nohavemail {
  background : url(%%sprite%%) no-repeat;
  height     : 16px;
  top        : 4px!important;
  width      : 16px!important;
}

#mail.havemail {
  background-position : -111px -38px;
  margin-right        : 5px;
}

#mail.nohavemail {
  background-position : -111px -22px;
  opacity             : .5;
}

.flair {
  background-color : transparent;
  border-radius    : 3px;
  border-width     : 0;
  color            : #222;
  font-size        : inherit;
  height           : 16px;
  line-height      : 16px;
  margin-right     : 3px;
  overflow         : hidden;
  padding          : 2px 2px 4px;
  vertical-align   : middle;
  width            : 20px;
}

.flair-empty:before,
.flairoptionpane .author,
.flairoptionpane .flair-label:before,
span.flair.flair-empty {
  display : none;
}

.flairoptionpane .flair:hover {
  border-width : 0;
  margin       : 0;
  padding      : 4px;
  width        : auto;
}

.flairoptionpane .flair {
  background : 0 0;
  border     : 0;
  width      : auto;
}

.flairoptionpane li {
  border       : 0;
  margin-right : 5px;
  padding      : 0;
  text-align   : left !important;
}

.flairoptionpane li:hover {
  background : #f2f2f2;
  border     : 0;
}

.flairoptionpane li .flair-label {
  background    : #ccc;
  border-radius : 3px;
  display       : block;
  font-size     : 9pt;
  font-weight   : 700;
  margin        : 0;
  text-align    : center;
}

.flairselector li.selected {
  border      : 0;
  font-weight : 700;
}

.flair:hover {
  background-color : #f5f5f5;
  border-width     : 1px;
  padding          : 1px 1ex 3px 1px;
  width            : auto;
}

.titlebox .md > blockquote:nth-of-type(1) > blockquote > blockquote:nth-of-type(3) a {
  display      : block;
  padding-left : 0;
  position     : relative;
  width        : 100%;
}

#srList {
  z-index : 50001 !important;
}

#RESShortcutsEditContainer {
  background : 0 0 !important;
}

#RESShortcutsAdd,
#RESShortcutsLeft,
#RESShortcutsRight,
#RESShortcutsSort,
#RESShortcutsTrash {
  background : 0 0 !important;
  color      : #f1f1f1 !important;
  font-size  : 11px !important;
  width      : 12px !important;
}

#RESShortcutsSort {
  font-size : 12px !important;
}

#RESShortcuts {
  color : #fff;
}

div.res-navTop a {
  color : #000;
}

ul#image-preview-list {
  background : #fff !important;
  border-top : 1px solid #ccc;
  display    : inline-block;
  font-size  : larger;
  height     : 100%;
  margin-top : 20px;
  padding    : 20px;
}

.stylesheet-customize-container {
  width : 100%;
}

#subreddit_stylesheet {
  display  : block;
  overflow : hidden;
}

.sheets {
  margin : 0;
}

#stylesheet_contents {
  background-color : #222;
  border           : 2px solid #222;
  color            : #ace;
  font-size        : 13px;
  height           : 500px;
  line-height      : 1.4;
  padding          : 5px;
}

body.res-nightmode #stylesheet_contents {
  background-color : #111;
  border-color     : #111;
  font-size        : 13px;
  height           : 500px;
  line-height      : 1.4;
}

.side blockquote blockquote ul a {
  color : #4f4f4f;
}

.side blockquote blockquote ul a:hover {
  color : #000;
}

.titlebox .md > ul:nth-of-type(3) > li:nth-of-type(3) table thead {
  display : none;
}

.titlebox .md > ul:nth-of-type(3) > li:nth-of-type(3) blockquote p,
.titlebox .md > ul:nth-of-type(3) > li:nth-of-type(4) blockquote p:first-child {
  background : #222;
  color      : #fff;
  font-size  : 13px;
  margin     : 0;
  padding    : 8px;
}

.titlebox .md > ul:nth-of-type(3) > li:nth-of-type(2) table tr td:nth-of-type(1),
.titlebox .md > ul:nth-of-type(3) > li:nth-of-type(3) table tr td:nth-of-type(1) {
  font-weight    : 700;
  vertical-align : top;
}

.titlebox .md a[href="#map"] {
  background      : url(%%circuit-map%%) no-repeat;
  background-size : cover;
  display         : block;
  height          : 282px;
  pointer-events  : none;
  text-indent     : -9999pt;
  width           : 498px;
}

.titlebox .md > ul:nth-of-type(3) > li:nth-of-type(4) blockquote p:nth-of-type(2) {
  margin  : 7px 1px 0;
  padding : 0;
}

#endOfReddit {
  color       : #818181;
  font-size   : 10pt;
  font-weight : 700;
  padding     : 5px 0;
  text-align  : center;
  text-shadow : 0 1px 0 #f1f1f1;
  width       : 100%;
}

.sitetable div.nav-buttons {
  background    : 0;
  border-bottom : 1px solid #ccc;
  margin-bottom : 5px;
  padding       : 7px 0 10px;
  text-indent   : 10px;
  width         : 100%;
}

.NERPageMarker {
  background-color : transparent !important;
  border           : 0 !important;
  border-radius    : 0 !important;
  color            : #818181 !important;
  font-size        : 10pt !important;
  font-weight      : 700 !important;
  padding          : 3px 0;
  text-shadow      : 0 1px 0 #f1f1f1;
}

#progressIndicator {
  background-color : transparent !important;
  border           : 0 !important;
  border-radius    : 0 !important;
  color            : #818181;
  cursor           : pointer;
  font-size        : 10pt !important;
  font-weight      : 700;
  margin           : 0 auto;
  min-height       : 20px;
  padding          : 5px !important;
  text-align       : center;
  text-shadow      : 0 1px 0 #fff;
  width            : 80%;
}

.next-suggestions a,
.nextprev a {
  background-color : #fff;
  border           : 1px solid #ddd;
  border-radius    : 3px;
  color            : #000;
  display          : inline-block;
  padding          : 5px 14px 5px 0;
}

.next-suggestions a:hover,
.nextprev a:hover {
  background : #fff;
  border     : 1px solid #ccc;
  box-shadow : 1px 1px 1px #ccc;
  color      : #000;
}

.next-suggestions a,
#NERFail .nextprev a {
  padding    : 5px 10px;
  text-align : center;
}

#NERFail {
  border        : 0;
  border-radius : 0;
  border-top    : 1px dashed #ccc;
  display       : block;
  margin        : 20px 0;
  padding       : 15px 0;
  width         : auto;
}

.RESThrobber:after,
.RESThrobber:before,
#NERFail a[href="/r/random"] {
  display : none;
}

#progressIndicator > img {
  background   : url(%%sprite%%) -89px -60px;
  content      : "";
  display      : none;
  height       : 24px;
  margin       : 0 auto;
  overflow     : hidden;
  padding-left : 21px;
  width        : 21px;
}

#progressIndicator h2 {
  color : #000;
}

#NERContent {
  left           : 0!important;
  margin         : 0 auto;
  padding-bottom : 10px;
  padding-right  : 0;
  right          : 0;
  width          : 50%;
}

.RESThrobber {
  animation        : standard .75s infinite linear;
  background-color : transparent;
  border-bottom    : 4px solid #000;
  border-left      : 4px solid #000;
  border-radius    : 100%;
  border-right     : 4px solid red;
  border-top       : 4px solid #000;
  box-shadow       : none;
  height           : 20px;
  margin-bottom    : -10px;
  margin-right     : 5px;
  margin-top       : 10px;
  transform-origin : center;
  transition       : all .75s ease 0s;
  width            : 20px;
}

#NERContent .RESThrobber {
  display : block;
  left    : 0;
  margin  : 10px auto 0;
  right   : 0;
}

@-webkit-keyframes standard {
  from {
    transform : rotate(0)
  }

  to {
    transform : rotate(360deg)
  }
}

@keyframes standard {
  from {
    transform : rotate(0)
  }

  to {
    transform : rotate(360deg)
  }
}

.side .usertext-body:before {
  background    : url(%%tribute%%) center 8px no-repeat #EDEDED;
  border-bottom : 8px solid #ededed;
  border-top    : 5px solid #ededed;
  content       : '';
  display       : block;
  height        : 310px;
  margin-bottom : -12px;
}

.res-nightmode .side .usertext-body:before {
  background-color : #171717;
  border-color     : #171717;
}

.formtabs-content {
  padding-top : 225px;
  position    : relative;
}

.formtabs-content .md > ul:nth-of-type(1) {
  background : #ededed;
  border     : 0;
  font-size  : 10pt;
  height     : 190px;
  left       : 0;
  margin     : 0;
  overflow-y : scroll;
  padding    : 10px;
  position   : absolute;
  right      : 0;
  top        : 0;
}

.formtabs-content .md > ul:nth-of-type(1) > ul {
  list-style-type : none;
  margin          : 0;
  padding         : 0;
}

.formtabs-content .md > ul:nth-of-type(1) > ul > li {
  display     : inline-block;
  float       : left;
  font-size   : 14px;
  font-weight : 700;
  width       : 100%;
}

.formtabs-content .md > ul:nth-of-type(1) > ul > li li {
  font-weight : 400;
}

.formtabs-content .md > ul:nth-of-type(1) > ul > li > ul {
  font-size   : 13px;
  line-height : 1.5em;
  margin      : 0 20px;
  padding     : 5px 0 10px 5px;
}

.formtabs-content .md > ul:nth-of-type(1) > ul > li > ul ul {
  color           : #6B6B6B;
  font-size       : 11px;
  line-height     : 16px;
  list-style-type : none;
  margin          : 0;
}

.formtabs-content .md > ul:nth-of-type(1) > ul > li > ul ul li:before {
  content : "** ";
}

.submit-page .titlebox .md > ul:nth-of-type(1) li:nth-of-type(3):before {
  background  : #333;
  content     : "Have an easy question? Ask the community anything in our Wednesday at Bernies thread!";
  display     : block;
  font-weight : 400;
  left        : 0;
  padding     : 7px 10px 10px;
  position    : absolute;
  text-align  : left;
  top         : 32px;
  width       : 310px;
  z-index     : 100;
}

.titlebox .md > ul > li blockquote table {
  background : 0 0;
  margin     : 0;
  padding    : 0;
  width      : 100%;
}

.titlebox .md > ul > li blockquote table td {
  border        : 0;
  border-bottom : 1px solid #e5e5e5;
  padding       : 8px;
}

.titlebox .md > ul > li blockquote table th {
  background  : #1A1A1A;
  border      : 0;
  font-size   : 13px;
  font-weight : 400;
  padding     : 8px;
  color       : #ffffff
}

.titlebox .md > ul > li blockquote table tr:nth-child(odd) {
  background : #fff;
}

.titlebox .md > ul > li blockquote table tr:nth-child(even) {
  background : #f7f7f7;
}

.titlebox .md > ul:nth-of-type(3) > li:nth-of-type(3) blockquote table tr:nth-of-type(7) a {
  display       : block;
  margin-bottom : 6px;
}

.titlebox .md > ul:nth-of-type(3) > li > blockquote h1 {
  background  : #222;
  color       : #fff;
  font-size   : 13px;
  font-weight : 400;
  margin      : 0;
  padding     : 8px;
}

.titlebox .md > ul:nth-of-type(3) > li:nth-of-type(5) > blockquote p {
  background    : #fff;
  border-bottom : 1px solid #f1f1f1;
  margin        : 0;
  padding       : 8px;
}

.titlebox .md > ul:nth-of-type(3) > li:nth-of-type(5) > blockquote p:last-child {
  background : 0 0;
  color      : #ccc;
  margin     : 7px 0 -8px;
  text-align : center;
}

.titlebox .md > ul:nth-of-type(3) > li:nth-of-type(5) > blockquote p:last-child a {
  color : #222;
}

.titlebox .md > ul:nth-of-type(3) > li:hover {
  background : #1A1A1A;
}

.titlebox .md > ul:nth-of-type(3) > li:nth-of-type(1):hover {
  background : #222;
}

.titlebox .md > ul > li:nth-of-type(7) blockquote table td,
.titlebox .md > ul > li:nth-of-type(8) blockquote table td {
  border : 0;
}

.titlebox .md > ul > li:nth-of-type(7) blockquote table td:nth-of-type(1),
.titlebox .md > ul > li:nth-of-type(7) blockquote table td:nth-of-type(3),
.titlebox .md > ul > li:nth-of-type(7) blockquote table th:nth-of-type(1),
.titlebox .md > ul > li:nth-of-type(7) blockquote table th:nth-of-type(3),
.titlebox .md > ul > li:nth-of-type(8) blockquote table td:nth-of-type(1),
.titlebox .md > ul > li:nth-of-type(8) blockquote table td:nth-of-type(3),
.titlebox .md > ul > li:nth-of-type(8) blockquote table th:nth-of-type(1),
.titlebox .md > ul > li:nth-of-type(8) blockquote table th:nth-of-type(3) {
  text-align : center;
}

.titlebox .md > ul > li:nth-of-type(7) blockquote table td:nth-of-type(1),
.titlebox .md > ul > li:nth-of-type(8) blockquote table td:nth-of-type(1) {
  background : #DBDBDB;
  color      : #6F6F6F;
  width      : 25px;
}

.titlebox .md > ul > li:nth-of-type(7) blockquote table td:nth-of-type(3),
.titlebox .md > ul > li:nth-of-type(8) blockquote table td:nth-of-type(3) {
  background : #222;
  color      : #fff;
  width      : 35px;
}

.titlebox .md > ul:nth-of-type(3) > li:nth-of-type(7) > blockquote p {
  margin     : 0;
  padding    : 10px 0 0;
  text-align : center;
}

.titlebox .md > ul:nth-of-type(3) > li:nth-of-type(7) > blockquote p a {
  color : #222;
}

.link .title {
  font-weight : 400;
  line-height : 20px;
  outline     : 0;
}

.res-nightmode #header {
  background          : #202020;
  border-bottom-color : #000;
}

.res-nightmode #header-bottom-left .tabmenu li a {
  color : #ccc;
}

.res-nightmode #header-bottom-left {
  border-bottom-color : #454545;
}

.res-nightmode .titlebox .md > ul:nth-of-type(1) {
  background   : #2A2A2A;
  border-color : #000;
}

.res-nightmode .titlebox .md > ul:nth-of-type(1) > li {
  border-color : #000;
}

.res-nightmode .titlebox .tagline {
  background : 0 0;
}

.res-nightmode .titlebox .md > blockquote:nth-of-type(1) > blockquote > blockquote > ul,
.res-nightmode .titlebox .md > blockquote:nth-of-type(1) > blockquote > blockquote > ul > li > ul,
.res-nightmode .titlebox .md > blockquote:nth-of-type(2) > blockquote > blockquote > ul,
.res-nightmode .titlebox .md > blockquote:nth-of-type(2) > blockquote > blockquote > ul > li > ul {
  background-color : transparent;
  border-color     : #494949;
}

.res-nightmode .titlebox .md > blockquote:nth-of-type(1):hover > h1:after,
.res-nightmode .titlebox .md > blockquote:nth-of-type(1) > blockquote,
.res-nightmode .titlebox .md > blockquote:nth-of-type(1) > blockquote > blockquote,
.res-nightmode .titlebox .md > blockquote:nth-of-type(2):hover > h1:after,
.res-nightmode .titlebox .md > blockquote:nth-of-type(2) > blockquote,
.res-nightmode .titlebox .md > blockquote:nth-of-type(2) > blockquote > blockquote {
  background-color : #272727;
  border-color     : #494949;
}

.res-nightmode .titlebox .md > blockquote:nth-of-type(1) > blockquote > blockquote > ul > li,
.res-nightmode .titlebox .md > blockquote:nth-of-type(2) > blockquote > blockquote > ul > li {
  color : #A0A0A0;
}

.res-nightmode #userbarToggle,
.res-nightmode #userbarToggle a,
.res-nightmode .side blockquote blockquote ul a:hover,
.res-nightmode div.res-navTop a {
  color : #ccc;
}

.res-nightmode .titlebox .md > ul:nth-of-type(3) > li > blockquote {
  background   : #3f3f3f;
  border-color : #000;
}

.res-nightmode .titlebox .md > ul:nth-of-type(3) > li:nth-of-type(2):hover:before,
.res-nightmode .titlebox .md > ul:nth-of-type(3) > li:nth-of-type(3):hover:before,
.res-nightmode .titlebox .md > ul:nth-of-type(3) > li:nth-of-type(4):hover:before,
.res-nightmode .titlebox .md > ul:nth-of-type(3) > li:nth-of-type(5):hover:before,
.res-nightmode .titlebox .md > ul:nth-of-type(3) > li:nth-of-type(6):hover:before,
.res-nightmode .titlebox .md > ul:nth-of-type(3) > li:nth-of-type(7):hover:before {
  background : #3f3f3f;
}

.res-nightmode .titlebox .md > ul > li blockquote table tr:nth-child(odd) {
  background : #4C4C4C;
}

.res-nightmode .titlebox .md > ul > li blockquote table tr:nth-child(even) {
  background : #323232;
}

.res-nightmode .titlebox .md > ul:nth-of-type(3) > li:nth-of-type(5) > blockquote p {
  background : #545454;
}

.res-nightmode .titlebox .md > ul > li:nth-of-type(6) blockquote table td:nth-of-type(1),
.res-nightmode .titlebox .md > ul > li:nth-of-type(7) blockquote table td:nth-of-type(1) {
  background : #2A2A2A;
}

.res-nightmode .titlebox .md > ul:nth-of-type(2) > li ul {
  background-color : #6b6b6b;
  border-color     : transparent;
}

.res-nightmode .commentarea .menuarea,
.res-nightmode .commentarea > .usertext,
.res-nightmode .linklisting .thing,
.res-nightmode .panestack-title {
  background : #222;
}

.footer-parent .footer:before {
  background : url(%%sprite%%) 0 -200px no-repeat;
  content    : "";
  display    : inline-block;
  height     : 150px;
  left       : -200px;
  position   : absolute;
  top        : 0;
  width      : 170px;
}

.footer {
  border   : 1px solid #F0F0F0;
  color    : gray;
  display  : inline-block;
  margin   : 15px 15px 35px;
  padding  : 5px;
  position : relative;
}

.md .-text,
.md li,
.md p,
.md pre > code,
.md td,
.md th {
  font-size : 10pt;
}

.arrow.down:hover:before {
  background     : #AB0303;
  bottom         : 0;
  color          : #fff;
  content        : "Please do not downvote based on driver or team fandom. Report inappropriate content.";
  display        : block;
  left           : 0;
  padding        : 10px;
  position       : fixed;
  right          : 0;
  text-align     : center;
  text-transform : uppercase;
  z-index        : 10002;
}

.pinHeader-header .titlebox .md > blockquote:nth-of-type(1) > h1,
.pinHeader-header .titlebox .md > blockquote:nth-of-type(2) > h1 {
  position : fixed;
  top      : 20px;
}

.pinHeader-header .titlebox .md > blockquote:nth-of-type(1):before,
.pinHeader-header .titlebox .md > blockquote:nth-of-type(2):before {
  position : fixed;
  top      : 42px;
}

.pinHeader-sub #header-bottom-left,
.pinHeader-subanduser #header-bottom-left {
  margin-top : 17px;
}

.pinHeader-subanduser #header-bottom-right,
.pinHeader-userbar #header-bottom-right {
  background-color : #fff !important;
  opacity          : 1 !important;
  padding          : 2px 5px;
}

.pinHeader-header .titlebox .md > blockquote:nth-of-type(1) > blockquote,
.pinHeader-header .titlebox .md > blockquote:nth-of-type(2) > blockquote {
  position : fixed;
  top      : 81px;
}

.comments-page li.report-button a {
  color : red !important;
}

.titlebox .md > h1:nth-of-type(2) a {
  border-right : 1px solid #ccc;
  color        : #7B7B7B;
  display      : inline-block;
  font-size    : 12px;
  padding      : 5px 0;
  text-align   : center;
  width        : 148px;
}

.titlebox .md > h1:nth-of-type(2) a:nth-of-type(3) {
  border-right : 0 none;
}

.titlebox .md > h1:nth-of-type(2) a:hover {
  background-color : #EFEFEF;
  color            : #000;
}

.titlebox .md > h1:nth-of-type(2) {
  background-color : #E0E0E0;
  border           : 1px solid #ccc;
  margin           : 0;
  padding          : 0;
  position         : absolute;
  right            : 10px;
  top              : 278px;
  width            : 298px;
}

.thing.linkflair-media .title .linkflairlabel,
.titlebox .md > h1:nth-of-type(2) a:nth-of-type(2) {
  display : none;
}

.titlebox .md > ul:nth-of-type(3) > li:first-of-type > ul {
  margin-top     : 0;
  padding-bottom : 8px;
  padding-top    : 5px;
}

.titlebox .md > ul:nth-of-type(3) {
  background      : #3c3c3c;
  font-family     : Helvetica, Verdana, Arial, sans-serif;
  height          : 355px;
  list-style-type : none;
  margin          : 0;
  overflow        : hidden;
  padding         : 0;
  position        : absolute;
  top             : 275px;
  width           : 300px;
}

.titlebox .md > h1:nth-of-type(4) {
  background : 0 0;
  border     : 0;
  color      : #fff;
  font-size  : 10px;
  opacity    : .5;
  padding    : 6px;
  position   : absolute;
  right      : 15px;
  top        : 272px;
  transition : all;
  width      : 276px;
  z-index    : 10001;
}

.titlebox .md > h1:nth-of-type(4) a {
  color : #ff4500;
}

.titlebox .md > h1:nth-of-type(4):hover {
  opacity : .8;
}

.titlebox .md > h1:nth-of-type(4):hover a {
  background : #fff;
}

#thing_t3_3tl34e .entry table {
  width : 100%;
}

.linklisting .linkflair .thumbnail[href*=race_of_champions] {
  background-image    : url(%%roc-logo%%);
  background-position : 0 0;
  background-size     : cover;
}

.titlebox .md > ul:nth-of-type(3) > li:first-of-type li:last-of-type a {
  border         : 1px solid #696969;
  color          : #fff;
  font-size      : 11px;
  font-weight    : 700;
  height         : 30px;
  left           : 0;
  line-height    : 31px;
  margin         : 0;
  padding        : 0;
  position       : absolute;
  text-align     : center;
  text-transform : uppercase;
  width          : 140px;
}

.titlebox .md > ul:nth-of-type(3) > li:first-of-type li:last-of-type a:hover {
  box-shadow : inset 0 0 5px #000;
  color      : #ff4500;
}

.titlebox .md > ul:nth-of-type(3) > li:first-of-type li:last-of-type a:nth-of-type(2) {
  border-left : 0;
  left        : inherit;
  right       : 0;
}

.titlebox .md > ul:last-of-type {
  height          : 200px;
  list-style-type : none;
  margin          : 0;
  overflow        : hidden;
  padding         : 0;
  position        : absolute;
  top             : 275px;
  width           : 300px;
}

.titlebox .md > ul:last-of-type > li {
  animation   : 30s slide infinite;
  height      : 200px;
  position    : relative;
  text-indent : -99999pt;
  z-index     : 10000;
}

.titlebox .md > ul:last-of-type > li:nth-of-type(4) {
  animation  : none;
  background : rgba(0, 0, 0, .4);
  color      : #fff;
  height     : auto;
  left       : 0;
  padding    : 5px;
  position   : absolute;
  right      : 0;
  top        : 0;
}

.titlebox .md > ul:last-of-type > li:nth-of-type(1) {
  background : url(%%race-pic%%);
}

.titlebox .md > ul:last-of-type > li:nth-of-type(2) {
  background : url(%%race-pic-2%%);
}

.titlebox .md > ul:last-of-type > li:nth-of-type(3) {
  background : url(%%race-pic-3%%);
}

.flair-pinkForceFlair:before {
  background-position : 0 -5313px;
}

.post-linkflair-post-qualifying .linkflair .md table:nth-of-type(2),
.post-linkflair-post-race .linkflair .md table:nth-of-type(2) {
  width : 100% !important;
}

.titlebox .md > ul > li:nth-of-type(6) blockquote > ul > li {
  background    : #fff;
  border        : 1px solid #e4e4e4;
  color         : #717171;
  display       : block;
  font-size     : 10pt !important;
  font-weight   : 100;
  height        : 50px;
  margin-bottom : 1px;
  padding       : 10px 10px 10px 90px;
  position      : relative;
}

.titlebox .md > ul > li:nth-of-type(6) blockquote > ul > li ul li:nth-of-type(1) {
  display    : block;
  height     : 48px;
  left       : 0;
  position   : absolute;
  text-align : center;
  top        : 0;
  width      : 80px;
}

.titlebox .md > ul > li:nth-of-type(6) blockquote > ul > li ul li:nth-of-type(2) {
  bottom     : 10px;
  display    : block;
  font-size  : 10px !important;
  left       : 0;
  padding    : 5px;
  position   : absolute;
  text-align : center;
  width      : 70px;
}

.titlebox .md > ul > li:nth-of-type(6) blockquote > ul > li > ul {
  font-weight : 500;
}

.titlebox .md > ul > li:nth-of-type(6) blockquote > ul > li ul li:nth-of-type(3) {
  color       : #5f5f5f;
  font-size   : 18pt !important;
  font-weight : 500;
  position    : absolute;
  top         : 31px;
}

.linkflair .md a[href="#w01d"],
.linkflair .md a[href="#w02d"],
.linkflair .md a[href="#w10d"],
.linkflair .md a[href="#w04"],
.linkflair .md a[href="#w09"],
.linkflair .md a[href="#w13"],
.linkflair .md a[href="#w01n"],
.linkflair .md a[href="#w02n"],
.linkflair .md a[href="#w10n"],
.linkflair .md a[href="#w03"],
.linkflair .md a[href="#w11"],
.linkflair .md a[href="#w50"],
.side .md a[href="#w01d"],
.side .md a[href="#w02d"],
.side .md a[href="#w10d"],
.side .md a[href="#w04"],
.side .md a[href="#w09"],
.side .md a[href="#w13"],
.side .md a[href="#w01n"],
.side .md a[href="#w02n"],
.side .md a[href="#w10n"],
.side .md a[href="#w03"],
.side .md a[href="#w11"],
.side .md a[href="#w50"] {
  background-color  : transparent;
  background-image  : url(%%weathericons%%);
  background-repeat : no-repeat;
  bottom            : 0;
  display           : block;
  height            : 40px;
  left              : 50%;
  padding           : 0;
  position          : absolute;
  text-indent       : -99999pt;
  transform         : translateX(-50%);
  width             : 50px;
}

a[href="#w01d"] {
  background-position : 0 0;
}

a[href="#w02d"] {
  background-position : 0 -41px;
}

a[href="#w10d"] {
  background-position : 0 -80px;
}

a[href="#w04"] {
  background-position : 0 -120px;
}

a[href="#w09"] {
  background-position : 0 -160px;
}

a[href="#w13"] {
  background-position : 0 -200px;
}

a[href="#w01n"] {
  background-position : -50px 0;
}

a[href="#w02n"] {
  background-position : -50px -40px;
}

a[href="#w10n"] {
  background-position : -50px -80px;
}

a[href="#w03"] {
  background-position : -50px -120px;
}

a[href="#w11"] {
  background-position : -50px -160px;
}

a[href="#w50"] {
  background-position : -50px -200px;
}


.wiki-page .side .usertext-body:before,
a[href='/topEnd'] {
  display : none !important;
}

.post-linkflair-hub .linkflair .md table:nth-of-type(1) {
  margin-bottom : 40px;
}

.post-linkflair-hub .linkflair .md table:nth-of-type(1) tr td:nth-of-type(3) > a {
  display   : inline-block;
  float     : left;
  left      : -5px;
  margin    : 0;
  top       : -5px;
  transform : scale(.6);
}

.post-linkflair-hub .linkflair .md table:nth-of-type(1) tr td:nth-of-type(3) {
  padding-left : 40px;
  position     : relative;
}

.linkflair-feature a.thumbnail[href*=indy_500] {
  background-image    : url(%%indy%%);
  background-position : inherit;
  background-size     : inherit;
  border              : 1px solid #d0d0d0;
  border-radius       : 2px;
  height              : 60px;
  width               : 60px;
}

.linkflair-serious p.title > .linkflairlabel {
  background : #5f9ea0 !important;
  color      : #fff !important;
}

@keyframes slide {
  0%, 20% {
    transform : translateY(0);
  }

  25%, 45% {
    transform : translateY(-100%);
  }

  50%, 70% {
    transform : translateY(-200%);
  }

  75%, 95% {
    transform : translateY(-300%);
  }

  100% {
    transform : translateY(-400%);
  }
}

.subscribers .word,
.users-online .word {
  display : none;
}

.users-online span.number:after {
  content : " out on track";
}

.subscribers span.number:after {
  content : " Drivers";
}

.bottom.playback-controls {
  display : flex;
}

.tagline,
.title,
.usertext {
  max-height : 10000px;
}
